-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

- content_for :page_content do
  = form_for @project, url: project_settings_links_path, method: :post, :html => { :class => '' } do |f|
    .form-group
      = link_to 'javascript:;', 'data-toggle' => 'popover', 'data-placement' => 'right', 'data-content' => t('projects.info_category'), 'data-html' => 'true' do
        = icon('fas', 'info-circle')
      = f.label :category_id, :class => 'control-label'
      = f.select :category_id, content_tag(:option,'Select one...',:value => "") + options_from_collection_for_select(Category.all, 'id', 'name', @project.category_id), {}, :class => 'form-control'
    .form-group
      = f.label :license_id, :class => 'control-label'
      = f.select :license_id, content_tag(:option,'Select one...',:value => "") + options_from_collection_for_select(License.all.order(:name), 'id', 'description', @project.license_id), {}, :class => 'form-control'
    .form-group.has-feedback
      = f.label :home_url, :class => 'control-label'
      .input-group
        .input-group-prepend
          %span.input-group-text
            = icon('fas', 'home')
        = f.text_field :home_url, :class => 'form-control'
    .form-group.has-feedback
      = f.label :source_code_url, :class => 'control-label'
      .input-group
        .input-group-prepend
          %span.input-group-text
            = icon('fas', 'compact-disc')
        = f.text_field :source_code_url, :class => 'form-control'
    .form-group.has-feedback
      = f.label :documentation_url, :class => 'control-label'
      .input-group
        .input-group-prepend
          %span.input-group-text
            = icon('fas', 'book')
        = f.text_field :documentation_url, :class => 'form-control'
    .form-group.has-feedback
      = f.label :mailing_list_url, :class => 'control-label'
      .input-group
        .input-group-prepend
          %span.input-group-text
            = icon('fas', 'envelope')
        = f.text_field :mailing_list_url, :class => 'form-control'
    .form-group.has-feedback
      = f.label :donate_button, :class => 'control-label'
      = f.text_area :donate_button, :class => 'form-control', :rows => 4
      %small#help-donate-button.form-text.text-muted
        = t("projects.form_text_donate_button").html_safe
    = f.submit t('update'), :class => 'btn btn-primary'
    = link_to t('cancel'), projects_path, :class => 'btn btn-default'

= render partial: 'projects/layout_settings'
