- model_class = Project
= render :partial => 'shared/projectbar', locals: { project: @project }
.row
  .col-md-4
    = render :partial => 'projects/projectsummary', locals: { project: @project, contribution: @contribution }
  .col-md-8
    .panel.panel-default
      .panel-heading
        Product Owner
        %i.pull-right.fa.fa-money.fa-lg{ style: 'margin-top: 2px;' }
      %ul.list-group
        = render :partial => 'li', locals: { member: @members.where(team_role: TeamRole.product_owner.first).first }
      .panel-heading
        Scrum Master
        %i.pull-right.fa.fa-sitemap.fa-lg{ style: 'margin-top: 2px;' }
      %ul.list-group
        = render :partial => 'li', locals: { member: @members.where(team_role: TeamRole.scrum_master.first).first }
      .panel-heading
        Members
        %i.pull-right.fa.fa-users.fa-lg{ style: 'margin-top: 2px;' }
      %ul.list-group
        - simple_members = @members.where('team_role_id > ?', TeamRole.scrum_master.first)
        - if simple_members.count.nonzero?
          - simple_members.each do |member|
            = render :partial => 'li', locals: { member: member }
        - else
          %li.list-group-item
            No members
