-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

= render :partial => 'shared/projectbar', locals: { project: @project }
.row
  .col-md-4
    = render :partial => 'projects/projectsummary', locals: { project: @project, contribution: @contribution }
  .col-md-8
    .panel.panel-default
      .panel-heading
        Product Owner
        %i.pull-right.fa.fa-money.fa-lg{ style: 'margin-top: 2px;' }
      %ul.list-group
        = render :partial => 'li', locals: { member: @members.where(team_role: TeamRole.product_owner.first).first, election_polls: @election_polls, team: @members }
      .panel-heading
        Scrum Master
        %i.pull-right.fa.fa-sitemap.fa-lg{ style: 'margin-top: 2px;' }
      %ul.list-group
        = render :partial => 'li', locals: { member: @members.where(team_role: TeamRole.scrum_master.first).first, election_polls: @election_polls, team: @members }
      .panel-heading
        Members
        %i.pull-right.fa.fa-users.fa-lg{ style: 'margin-top: 2px;' }
      %ul.list-group
        - simple_members = @members.reorder('').where('team_role_id > ?', TeamRole.scrum_master.first).includes(thinker: [:contributions]).order('contributions.intensity')
        - if simple_members.count.nonzero?
          - simple_members.each do |member|
            = render :partial => 'li', locals: { member: member, election_polls: @election_polls, team: @members }
        - else
          %li.list-group-item
            No members
