-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2018, Claudio Maradonna

- content_for :page_content do
  = t('projects.form.minimum_settings_for_work_description').html_safe

  = form_for @project, url: project_settings_release_index_path, method: :post, :html => { :class => '' } do |f|
    .form-group.required
      = f.label :approach_type, :class => "control-label"
      = f.select :approach_type, options_for_select(Project.approach_types.keys.map{ |key| [t("projects.approach_type.#{key}"), key] }, @project.approach_type), {}, :class => "form-control", 'data-reference-value' => :agile
    .form-group.required
      = link_to 'javascript:;', 'data-toggle' => 'popover', 'data-placement' => 'top', 'data-content' => t('projects.info_cycle_id'), 'data-html' => 'true' do
        = icon('fas', 'info-circle')
      = f.label :cycle_id, :class => "control-label"
      = f.select :cycle_id, options_from_collection_for_select(Cycle.all, 'id', 't_description', @project.cycle_id), {}, :class => "form-control"
    .form-group
      = f.label :release_at, :class => 'control-label'
      = f.text_field :release_at, :class => 'form-control', "data-provide" => 'datepicker', :placeholder => "yyyy-mm-dd", "data-date-format" => "yyyy-mm-dd", "aria-describedby" => "help-release_at"
      %small#help-release_at.form-text.text-muted= t "projects.form_text_release_at"
    %hr
    = f.submit t('update'), :class => 'btn btn-primary'
    = link_to t('cancel'), projects_path, :class => 'btn btn-default'

= render partial: 'projects/layout_settings'
