-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

= render partial: 'shared/projectbar', locals: { project: @sprint.project }
.row
  .col-md-4
    = render partial: 'shared/sprintstatuspanel', locals: { sprint: @sprint }
  .col-md-8
    .panel.panel-default
      %ul.list-group
        - @surveys.each do |survey|
          %li.list-group-item
            %h3=t ("survey.new.#{survey.t_title}")
          - survey.answers.each do |answer|
            %li.list-group-item{ class: !@answers_thinker.find_by(answer_id: answer.id).nil? ? 'list-group-item-success' : '' }
              .row
                .col-xs-8
                  = t "survey.new.#{answer.t_description}"
                .col-xs-4
                  .progress
                    - answer_count = @answers_count.has_key?(answer.id) ? @answers_count[answer.id] : 0
                    %div{"aria-valuemax" => "#{survey.answers.size}", "aria-valuemin" => "0", "aria-valuenow" => "#{answer_count}", :class => "progress-bar", :role => "progressbar", :style => "min-width: 0em; width: #{(answer_count.to_f / survey.answers.size) * 100}%;"}
