= render partial: 'shared/projectbar', locals: { project: @sprint.project }
.row
  .col-md-4
    = render partial: 'shared/sprintstatuspanel', locals: { sprint: @sprint }
  .col-md-8
    = form_for @survey, url: sprint_survey_index_path do |f|
      .panel.panel-default
        .panel-heading
          Sprint
          = @sprint.serial
        %ul.list-group
          - @surveys.each do |survey|
            %li.list-group-item
              %h3=t (".#{survey.t_title}")
            %li.list-group-item
              - survey.answers.each_with_index do |answer, index|
                .radio
                  = label_tag "survey[#{survey.id}][#{answer.id}]", :class => "control-label" do
                    = radio_button_tag "survey[#{survey.id}]", answer.id, index == 0
                    = t ".#{answer.t_description}"
        .panel-footer
          = f.submit t('send'), :class => "btn btn-primary"
