-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

%h1
  FAQs
#faq-group.panel-group{ role: "tablist", 'aria-multiselectable': "true"}
  - @faqs.each do |faq|
    .panel.panel-default
      .panel-heading{ role: "tab", id: "faq-head-#{ faq }" }
        %h4.panel-title
          %a.font-bold{ role: "button", 'data-toggle': "collapse", 'data-parent': "#faq-group", href: "#faq-#{ faq }", 'aria-expanded': "true", 'aria-controls': "collapseOne"}
            = t(".head_#{ faq }")
      .panel-collapse.collapse{ role: "tabpanel", 'aria-labelledby': "#faq-head-#{ faq }", id: "faq-#{ faq }" }
        .panel-body
          = t(".body_#{ faq }").html_safe
