- if comment.approved && !comment.reason.nil?
  %tr.info
    %td.p-1.hidden-xxs{ style: 'width: 40px;' }
      - if comment.reason.thinker.avatar
        = cl_image_tag(comment.reason.thinker.avatar.path, { size: '60x60', crop: :thumb, gravity: :face, class: 'border-radius' })
      - else
        .text-center.bg-gray.border-radius{ style: 'width: 60px; height: 60px;' }
          %i.fa.fa-question.fa-2x.mt-3
    %td.p-1{ colspan: 2 }
      .text-dark
        = t('comments.comment_title', thinker: comment.reason.thinker.name, times_ago: time_ago_in_words(comment.reason.created_at)).html_safe
      .form-group
        = markdown(comment.reason.text, true)
%tr{ class: "#{comment.approved && !comment.reason.nil? ? 'success' : ''}" }
  %td.p-1.hidden-xxs{ style: 'width: 40px;' }
    - if comment.thinker.avatar
      = cl_image_tag(comment.thinker.avatar.path, { size: '60x60', crop: :thumb, gravity: :face, class: 'border-radius' })
    - else
      .text-center.bg-gray.border-radius{ style: 'width: 60px; height: 60px;' }
        %i.fa.fa-question.fa-2x.mt-3

    - if !comment.approved
      %ul.mb-0.p-0{ style: 'list-style: none;' }
        - if comment.thinker == current_thinker && current_thinker.ban(task.project).nil? 
          = edit_button(comment)
          - if !task.in_progress? && !task.done? && comment.reason.nil?
            = delete_button(comment)
  %td.p-1
    .text-dark
      = t('comments.comment_title', thinker: comment.thinker.name, times_ago: time_ago_in_words(comment.created_at)).html_safe
    .form-group{ id: "comment-#{comment.id}" }
      = markdown(comment.text, true)
  %td.p-1.text-center{ width: 50, style: 'vertical-align: middle;' }
    = like_button(comment)
    - if !task.done? && task.worker == current_thinker && !task.deleted?
      = approve_button(comment)
