-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

- remote = false
- if @comment.text.nil?
  - remote = true
= form_for [@task, @comment], remote: remote do |f|
  .form-group
    - if @comment.text.nil?
      = f.label :text, t(".your_small_thought_about"), :class => "control-label"
      = render partial: 'shared/markdown_syntax'
    - else
      .form-group
    = f.text_area(:text, :class => "form-control")
    %span#help-text.help-block
      = t "remaining_chars"
      %span#counter{ 'data-maximum-length' => @chars_max_comment }
        = @chars_max_comment - f.object.text.try('length').to_i
  = f.submit @comment.text.nil? ? t('submit') : t('update'), :class => "btn btn-primary"
= init_counter_textarea('#comment_text', '#counter')
