-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015,2018 Claudio Maradonna

= form_for [@project_form, @task], url: url do |f|
  - unless @project.recruit?(current_thinker)
    .form-group
      = link_to 'javascript:;', 'data-toggle' => 'popover', 'data-placement' => 'right', 'data-content' => t('tasks.info_father'), 'data-html' => 'true' do
        = icon('fas', 'info-circle')
      = f.label :father_id, :class => "control-label"
      = f.select :father_id, options_for_select(@father_tasks.map{ |ft| [ ft.title, ft.id, { "data-goal": ft.goal.try(:id) } ] }, selected_key = @task.father_id), {include_blank: t('select')}, :class => "form-control", disabled: @father_tasks.empty?
    .form-group
      = link_to 'javascript:;', 'data-toggle' => 'popover', 'data-placement' => 'right', 'data-content' => t('tasks.info_goal'), 'data-html' => 'true' do
        = icon('fas', 'info-circle')
      = f.label :goal_id, :class => "control-label"
      = f.select :goal_id, options_from_collection_for_select(@project_goals, 'id', 'title', @task.goal_id), {include_blank: t('select')}, :class => "form-control", disabled: @project_goals.empty? || @task.father_id.present?
  .form-group.required
    = f.label :title, :class => "control-label"
    = f.text_field :title, :class => "form-control has-counter", :placeholder => t('tasks.placeholder_title'), "aria-describedby" => "help-title"
    %small#help-title.form-text.text-muted
      = t "remaining_chars"
      %span.counter{ 'data-maximum-length' => @chars_max_title }
        = @chars_max_title - f.object.title.try('length').to_i
  .form-group.required
    = f.label :description, :class => "control-label" do
      = render partial: 'shared/markdown_syntax'
      = t "activerecord.attributes.task.description"
    = f.text_area :description, :class => 'form-control', :rows => 8, :placeholder => t('tasks.placeholder_description'), "aria-describedby" => "help-description"
    %small#help-description.form-text.text-muted= t "char_minimum", chars: @chars_min_description
  = f.submit @task.new_record? ? t('add') : t('edit'), :class => "btn btn-primary"
  = link_to t('back'), :back, :class => "btn btn-default"

