-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

= form_for [@project_form, @task] do |f|
  - if scrum_master?(@project)
    .form-group
      = link_to 'javascript:;', 'data-toggle' => 'popover', 'data-placement' => 'right', 'data-content' => "After associating to a release you can group by tasks with the next release, to help team to focalize specific requests.", 'data-html' => 'true' do
        = icon('fas', 'info-circle')
      = f.label :release_id, t('.release'), :class => "control-label"
      = f.select :release_id, options_from_collection_for_select(@project_releases, 'id', 'complete_title', @task.release_id), {include_blank: t('no_release')}, :class => "form-control"
  - unless @project.recruit?(current_thinker)
    .form-group
      = link_to 'javascript:;', 'data-toggle' => 'popover', 'data-placement' => 'right', 'data-content' => "Specify goal is important to reach the goal itself. The goal is defined in another page, but here you can link specific tasks to that.", 'data-html' => 'true' do
        = icon('fas', 'info-circle')
      = f.label :goal_id, t('.goal'), :class => "control-label"
      = f.select :goal_id, options_from_collection_for_select(@project_goals, 'id', 'title', @task.goal_id), {include_blank: t('no_goal')}, :class => "form-control"
    .form-group
      = link_to 'javascript:;', 'data-toggle' => 'popover', 'data-placement' => 'right', 'data-content' => "Father specify a task that you need to complete before this, like a dependence.<br><br><i>You cannot change this option when task is in progress or done.</i>", 'data-html' => 'true' do
        = icon('fas', 'info-circle')
      = f.label :father_id, t('.father'), :class => "control-label"
      = f.select :father_id, options_from_collection_for_select(@father_tasks, 'id', 'title', @task.father_id), {include_blank: t('no_father')}, :class => "form-control"
  .form-group.required
    = f.label :title, :class => "control-label"
    = f.text_field :title, :class => "form-control has-counter", :placeholder => "My simple title", "aria-describedby" => "help-title"
    %small#help-title.form-text.text-muted
      = t "remaining_chars"
      %span.counter{ 'data-maximum-length' => @chars_max_title }
        = @chars_max_title - f.object.title.try('length').to_i
  .form-group.required
    = f.label :description, :class => "control-label" do
      = render partial: 'shared/markdown_syntax'
      = t ".description"
    = f.text_area :description, :class => 'form-control', :rows => 8, :placeholder => "My beautiful and long description that help others to understand what i'm sharing.", "aria-describedby" => "help-description"
    %small#help-description.form-text.text-muted= t "char_minimum", chars: @chars_min_description
  %hr
  = f.submit nil, :class => "btn btn-primary"
  = link_to t('back'), :back, :class => "btn btn-default"

