%thead
  %tr
    %td.col-lg-9.col-md-9.col-sm-9.col-xs-8
      .dropdown.col-xs-7.col-sm-3.col-md-3.col-lg-3
        %a#status-dropdown.dropdown-toggle{ :type => "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "true" }
          %h5
            %strong
              = t "task"
              %span.caret
        = content_tag(:ul, nil, :class => "dropdown-menu", "aria-labelledby" => "status-dropdown") do
          - @statuses.each do |status|
            = content_tag(:li) do
              = link_to("filterrific[status_progress]" => status, "filterrific[project_id]" => @project.id, method: :get, remote: true) do
                .round-sm.pull-left{ :class => "bg-#{color_list_round_div(status.translation_code)}" }
                = t("projects.tasks.#{status.translation_code}")
    %td.text-center
      .col-xs-12
        %h5
          %strong
            = filterrific_sorting_link(@filterrific, :workload, :url_for_attrs => { "filterrific[current_thinker]" => current_thinker, "filterrific[project_id]" => @project.id } )
%tbody
  - if (!@tasks.empty?)
    - @tasks.each do |task|
      %tr{ :class => color_list_round_div(task.status.translation_code) }
        %td
          %a.pull-right.btn{ :class => task.goal.nil? ? "disabled" : "", :href => task.goal.nil? ? "javascript:;" : goal_path(task.goal), :title => task.goal.nil? ? t("no_goal") : task.goal.title, :role => "button" }
            = icon('crosshairs', :class => "dark-grey fa-lg")
          %strong
            = link_to task.title, task_path(task)
          .dark-grey
            %small
              %strong
                \##{task.serial}
              created at #{task.created_at.to_s(:long)} by #{task.thinker.name}
        %td.text-center
          .col-xs-12.workload-table
            = workload_description(task)
  - else
    %td.text-center{ :colspan => 2 }
      = t('no_record')
