%thead
  %tr
    %td.col-lg-7.col-md-7.col-sm-7.col-xs-7
      .dropdown.col-xs-7.col-sm-3.col-md-3.col-lg-3
        %a#status-dropdown.dropdown-toggle{ :type => "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "true" }
          %h5
            %strong
              = t "task"
              %span.caret
        = content_tag(:ul, nil, :class => "dropdown-menu", "aria-labelledby" => "status-dropdown") do
          - @statuses.each do |status|
            = content_tag(:li) do
              = link_to("filterrific[status_progress]" => status, "filterrific[with_project]" => @project, method: :get, remote: true) do
                .round-sm.pull-left{ :class => "bg-#{color_list_round_div(status.translation_code)}" }
                = t("projects.tasks.#{status.translation_code}")
    %td.text-center
      .col-xs-12
        %h5
          %strong
            = filterrific_sorting_link(@filterrific, :workload)
    %td.col-lg-2.col-xs-1.col-sm-2.col-xs-1
%tbody
  - if (!tasks.empty?)
    - tasks.each do |task|
      %tr{ :class => color_list_round_div(task.status.translation_code) }
        %td
          %strong
            = link_to task.title, task_path(task), :title => t("created_at_date", date: task.created_at.to_s(:short))
            ·
            %small
              = task.updated_at.to_s(:short)
          .dark-grey
            %small
              = task.description.squish.truncate(50)
          .dark-grey
            %small
              %strong
                \##{task.serial}
              by #{task.thinker.name}
        %td.text-center
          .col-xs-12.workload-table
            = workload_description(task)
        %td.text-right
          %a.btn.pull-right.hidden-xs{ :href => "javascript:;", :title => task.standard_deviation, :role => "button" }
            = icon('bullseye', :class => "dark-grey")
          %a.btn.pull-right{ :class => task.goal.nil? ? "disabled" : "", :href => task.goal.nil? ? "javascript:;" : goal_path(task.goal), :title => task.goal.nil? ? t("no_goal") : task.goal.title, :role => "button" }
            = icon('crosshairs', :class => "dark-grey")
  - else
    %td.text-center{ :colspan => 3 }
      = t('no_record')
