<h1> <%= t '.scrum_table' %> <small><%= @project.title %></small> </h1>

<div class="row">
  <% @statuses.each do |status| %>

    <% if status.translation_code == "release" %>
      </div>
      <div class="row">
    <% end %>

    <% col_md = 4 %>
    <% col_sm = 4 %>

    <% if ["backlog", "done"].include? status.translation_code %>
      <% col_md = 6 %>

      <% if status.translation_code == "backlog" %>
        <% col_sm = 7 %>
      <% else %>
        <% col_sm = 5 %>
      <% end %>
    <% end %>
    <div class="list-group col-md-<%= col_md %> col-sm-<%= col_sm %>">
      <% status_tasks = @tasks.status_progress(status) %>
      <%= label_tag nil, class: "list-group-item #{color_list_group_header(status.translation_code)}" do %>
        <% if (status.translation_code == "backlog") %>
          <%= link_to(raw('<span class="glyphicon glyphicon-plus"></span>'), new_project_task_path, :style => "float: right;") %>
        <% else %>
          <%= badge(status_tasks.length) %>
        <% end %>
        <h4 class="list-group-item-heading"><%= t(".#{status.translation_code}") %></h4>
      <% end %>
      <% status_tasks.each do |status_task| %>
        <%= link_to task_path(status_task), :class => "list-group-item #{color_list_group_item(status_task)}" do %>
          <%= badge workload_description(status_task.workload) %>
          <%= status_task.description %>
        <% end %>
      <% end %>
    </div>

  <% end %>
</div>
