= render 'shared/projectbar'
= form_for_filterrific @filterrific, :html => { :class => 'form-horizontal' } do |f|
  .form-group
    .col-xs-12
      .input-group
        %span.input-group-btn
          = link_to t('reset_filters'), reset_filterrific_url, :class => 'btn btn-primary'
        = f.text_field :search_query, :class => 'form-control filterrific-periodically-observed'
        - if thinker_signed_in?
          %span.input-group-btn
            = link_to t('.new', :default => t("helpers.links.new")), new_project_task_path, :class => 'btn btn-success'
  = render_filterrific_spinner
 
.form-group
  %table.table.table-responsive.table-bordered.table-hover#filterrific_results
    = render partial: 'list', locals: { tasks: @tasks }
