-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

= render partial: 'shared/projectbar', locals: { project: @task.project }
.row
  .col-sm-4
    = render partial: 'shared/taskstatuspanel', locals: { task: @task, workload_voted: @workload_voted }
  .col-sm-8
    = render partial: 'shared/taskbody', locals: { task: @task }
    .panel.panel-default
      .panel-heading
        %strong
          Comments
      %ul.list-group
        - if @comments.empty?
          = content_tag(:li, t("no_comments"), :class => "list-group-item")
        - if !@comment_approved.nil? && @comment_approved.reason.present?
          = content_tag(:li, :class => "list-group-item active") do
            %div
              %strong
                = t 'reason'
            = @reason.text
        - @comments.each_with_index do |comment, index|
          = content_tag(:li, :class => "list-group-item #{comment.approved ? 'list-group-item-success' : ''}") do
            - if @task.worker == current_thinker && !@task.deleted? && !@task.done?
              = approve_button(comment)
            - if !@task.done?
              = like_button(comment)
            - if comment.thinker == current_thinker && !@task.done? && current_thinker.ban(@task.project).nil?
              = edit_button(comment)
              - if !@task.done? && !@task.in_progress?
                = delete_button(comment)
            .dark-grey
              = link_to("Comment", "#collapseComment#{ comment.id }", "data-toggle" => "collapse")
              by
              %strong
                = comment.thinker.name
            %small
              = comment.created_at.to_s(:long)
            .collapse{ :id => "collapseComment#{ comment.id }", :class => index < 3 ? "in" : ""}
              .form-group
              = markdown(comment.text, true)
      - if @task.project.part_of_team?(current_thinker) && current_thinker.ban(@task.project).nil?
        .panel-footer
          = render :partial => 'comments/form'
- if @task.done? && @comment_approved.reason.nil?
  = render "tasks/approve"
