-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

- content_for :page_actions do
  - if (@task.thinker == current_thinker || @scrum_master) && current_thinker.ban(@task.project).nil?
    - if @task.deleted?
      %li.nav-item.ml-1
        = link_to reopen_task_path(@task), :method => 'put', class: 'btn btn-secondary' do
          = icon('fas', 'history', t('reopen'))
      %li.nav-item.ml-1
        = link_to task_path(@task), :method => 'delete', data: { confirm: t('are_you_sure') }, class: 'btn btn-danger' do
          = icon('fas', 'eraser', t('delete'))
    - elsif !@task.done?
      %li.nav-item.ml-1
        %a.btn.btn-default{ role: "button", 'data-toggle': 'modal', href: "#modal-discard-task-#{ @task.id }" }
          = icon('fas', 'trash-alt', t('discards'))
      - content_for :page_modals do
        = render partial: 'tasks/modal_discard', locals: { task: @task }
      %li.nav-item.ml-1
        = link_to edit_project_task_path(@task.project, @task), class: 'btn btn-primary' do
          = icon('fas', 'edit', t('edit'))

- content_for :page_content do
  = markdown(@task.description)
  %h5.font-weight-bold
    = t('tasks.comments')
  - if @task.project.part_of_team?(current_thinker) && current_thinker.ban(@task.project).nil? && !@task.deleted?
    = render :partial => 'comments/form', locals: { url: project_task_comments_path(@task.project, @task) }
  %table.table.table-sm.mt-2#comments-list
    %tbody
      - if @comments.empty?
        %tr.warning
          %td.text-center
            %strong
              = t('comments.no_comments')
      - @comments.each_with_index do |comment, index|
        = render partial: 'comments/comment', locals: { comment: comment, task: @task }

- content_for :page_details do
  %ul.list-group.list-group-flush
    %li.list-group-item
      %small.font-weight-bold= t('activerecord.attributes.task.goal_id')
      %br
      - unless @task.goal_id.nil?
        = @task.goal.title
      - else
        = form_for [@project,@task] do |f|
          .form-group
            = f.select :goal_id, options_from_collection_for_select(@task.project.goals, 'id', 'title', @task.goal_id), {include_blank: t('select')}, :class => "form-control", disabled: @task.project.goals.empty?, onchange: 'this.form.submit()'
          = f.submit t('save'), :class => "btn btn-primary d-none"

= render partial: 'projects/layout'
