= render partial: 'shared/projectbar', locals: { project: @task.project }
.row
  .col-sm-4
    .panel.panel-default
      .panel-body
        %h4
          %strong
            Goal
        %h4
          - if @task.goal.present?
            = link_to @task.goal.title, goal_path(@task.goal)
          - else
            = t("not_defined_yet")
      .panel-body
        %h4
          %strong
            = label_tag t('tasks.status'), nil, class: "control-label"
        %h4
          = t("projects.tasks.#{@task.status.translation_code}")
      - if @task.project.thinker == current_thinker && @task.status == Status.release.first
        .panel-footer
          - if @task.ready?
            = link_to "Get in Sprint!", sprint_task_path, :method => :put, :class => "btn btn-primary btn-block"
          - else
            %strong
              = link_to "Force in Sprint!", sprint_task_path, :method => :put, :class => "btn btn-warning btn-block"
              = t(".standard_deviation_too_high")
      - elsif @task.project.thinker == current_thinker && @task.status == Status.backlog.first && @task.workloads.count > 0
        .panel-footer
          = link_to "Force in Release", release_task_path, :method => :put, :class => "btn btn-warning btn-block"

      .panel-body
        %h4
          %strong
            = label_tag t('tasks.workload'), nil, class: "control-label"
        %h4
          = workload_description(@task)
      - if @task.contributed?(current_thinker)
        .panel-footer
          - if @workload_voted.nil?
            = form_for @task, :url => judge_task_path(@task), method: :put do |f|
              .form-group
                = f.label :workload, t('.define_workload'), class: "control-label"
                = f.select :workload, options_from_collection_for_select(Workload.all, :id, :description), {}, :class => "form-control"
              = f.submit t("submit"), :class => "btn btn-primary"
          - else
            %strong
              = t ".you_voted", vote: @workload_voted.workload.value
      .panel-body
        %h4
          %strong
            = label_tag t('tasks.worker'), nil, class: "control-label"
        - if !@task.worker.nil?
          %h4
            = @task.worker.name
        - elsif @task.status == Status.sprint.first
          - if @task.project.workers.active.include?(current_thinker)
            %h4 No one is working over this but you have yet something to do ;-P
          - elsif @task.project.started?
            = link_to "Assigns me", assign_task_path, :method => :put, :class => "btn btn-success btn-block"
          - else
            %h4 The project is not started yet, wait. Your moment will come soon.
        - else
          %h4 Actually the team didn't decide to work on. Talk about if you are interested
  .col-sm-8
    .panel.panel-default
      .panel-heading
        %h4
          %strong
            = @task.title
        %p.dark-grey
          %strong
            \##{@task.serial}
          created at #{@task.created_at.to_s(:long)} by #{@task.thinker.name}
      .panel-body
        = markdown(@task.description)
      - if @task.thinker == current_thinker
        .panel-footer
          = link_to t('edit'), edit_task_path(@task), :class => "btn btn-primary"
    .panel.panel-default
      .panel-heading
        %strong
          Comments
      %ul.list-group
        - if @comments.empty?
          = content_tag(:li, t("no_comments"), :class => "list-group-item")
        - if @task.done? && @comment_approved.reason.present?
          = content_tag(:li, :class => "list-group-item active") do
            %div
              %strong
                = t 'reason'
            = @reason.text
        - @comments.each_with_index do |comment, index|
          = content_tag(:li, :class => "list-group-item #{comment.approved ? 'list-group-item-success' : ''}") do
            - if @task.worker == current_thinker && !@task.done?
              = approve_button(comment)
            - if !@task.done?
              = like_button(comment)
            - if comment.thinker == current_thinker
              = edit_button(comment)
            - else
              .pull-right
                %span
                  = like_count comment.likes.length
            .dark-grey
              = link_to("Comment", "#collapseComment#{ comment.id }", "data-toggle" => "collapse")
              by
              %strong
                = comment.thinker.name
            %small
              = comment.created_at.to_s(:long)
            .collapse{ :id => "collapseComment#{ comment.id }", :class => index < 3 ? "in" : ""}
              .form-group
              = comment.text
      .panel-footer
        = render :partial => 'comments/form'
- if @task.done? && @comment_approved.reason.nil?
  = render "tasks/approve"
