= label_tag "" do
  - if task.voted?(current_thinker) || task.status == Status.done.first
    = task.workload
  - else
    = icon('ban', :class => "dark-grey")
  = content_tag(:small, :class => sd_class(task.standard_deviation)) do
    (&#963;: #{task.standard_deviation})
