-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

%p#notice= notice
%h1 Listing Workloads
%table
  %thead
    %tr
      %th Value
      %th{:colspan => "3"}
  %tbody
    - @workloads.each do |workload|
      %tr
        %td= workload.value
        %td= link_to 'Show', workload
        %td= link_to 'Edit', edit_workload_path(workload)
        %td= link_to 'Destroy', workload, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Workload', new_workload_path
