- if direction == 'ltr'
  .row.mb-5.pt-5.pb-5
    .col-md-6.col-sm-5.col-xs-12.text-center.text-sm-right.mt-auto.mb-auto
      = image_tag "feature_" + number.to_s, height: 170
    .col-md-5.col-sm-7.col-xs-12.text-xs-center
      .col-md-12.col-xs-12
        %h2.margin-top-10
          = t 'start.index.feature_' + number.to_s
      .col-md-12.col-xs-12
        %h4.margin-top-0
          = t 'start.index.feature_description_' + number.to_s
- else
  .row.mb-5
    .col-md-6.col-sm-5.col-xs-12.d-block.d-sm-none.text-center.mt-auto.mb-auto
      = image_tag "feature_" + number.to_s, height: 170
    .col-md-5.ml-md-auto.col-sm-7.col-xs-12.text-center.text-sm-right
      .col-md-12.col-xs-12
        %h2.margin-top-10
          = t 'start.index.feature_' + number.to_s
      .col-md-12.col-xs-12
        %h4.margin-top-0
          = t 'start.index.feature_description_' + number.to_s
    .col-md-6.mr-md-auto.col-sm-5.col-xs-12.d-none.d-sm-block.mt-auto.mb-auto
      = image_tag "feature_" + number.to_s, height: 170
