-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

%header.masthead
  .header-content
    .header-content-inner
      %h1
        = t('.heading_title').html_safe
      %hr
      %p
        = t('.heading_subtitle').html_safe
      - unless thinker_signed_in?
        = link_to new_thinker_registration_path, class: 'btn btn-primary btn-lg' do
          = t(".sign_up")

%section.bg-primary
  .container

%section
  .container
    - for i in 1..4 do
      = render partial: 'start/feature', locals: { direction: i % 2 == 0 ? 'rtl' : 'ltr', number: i }
%hr
%section
  .container
    .row.mb-3
      .col-md-5.col-sm-5.col-xs-12.text-center.text-sm-right
        = image_tag "coins"
      .col-md-2.col-sm-2.col-xs-12.mt-auto.mb-auto.text-center
        %h1.text-center
          Pricing
    .row
      .col-lg-4.col-md-4.col-sm-4.col-xs-12
        = render partial: 'start/price', locals: { offer: @offers[0] }
      .col-lg-4.col-md-4.col-sm-4.col-xs-12
        = render partial: 'start/price', locals: { offer: @offers[1] }
      .col-lg-4.col-md-4.col-sm-4.col-xs-12
        = render partial: 'start/price', locals: { offer: @offers[2] }
