<h1 class="chapter-title">
  <%= t('.notifications') %>
</h1>
<%- project_id = nil %>
<div class="panel panel-default">
    <% if @notifications.empty? %>
        <div class="list-group">
            <div class="list-group-item">
                <%= t ".no_notifications_found" %>
            </div>
        </div>
    <% end %>
    <% @notifications.each do |notification| %>
        <% if notification.project.id != project_id %>
            <% if !project_id.nil? %>
                </div>
            <% end %>
            <% project_id = notification.project.id %>
            <div class="panel-heading">
                <strong>
                    <%= notification.project.title %>
                </strong>
            </div>
            <div class="list-group">
        <% end %>

        <%= link_to url_for(:controller => notification.controller, :action => 'show', :id => notification.model_id), :class => "list-group-item" do %>
            <%= icon_for(notification) %>
            <%= title_for(notification) %>
        <% end %>
    <% end %>
</div>
