%p#notice= notice
%h1 Listing Cycles
%table
  %thead
    %tr
      %th Translation code
      %th Description
      %th Days
      %th{:colspan => "3"}
  %tbody
    - @cycles.each do |cycle|
      %tr
        %td= cycle.translation_code
        %td= cycle.description
        %td= cycle.days
        %td= link_to 'Show', cycle
        %td= link_to 'Edit', edit_cycle_path(cycle)
        %td= link_to 'Destroy', cycle, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Cycle', new_cycle_path
