%nav.position-absolute.fixed-bottom{ 'aria-label': "breadcrumb" }
  %ol.breadcrumb.mb-0.rounded-0
    - unless project.project.nil?
      %li.clip-text.breadcrumb-item.hidden-xs
        = link_to project_path(project.project), title: project.project.title do
          - if project.project.logo
            = cl_image_tag(project.project.logo.path, { size: '20x20' })
          - else
            = icon('fas', 'sitemap')
    %li.clip-text.breadcrumb-item
      = link_to project_path(project), title: project.title do
        - if project.logo
          = cl_image_tag(project.logo.path, { size: '20x20' })
        - else
          = icon('fas', 'folder')
        %strong.hidden-xs{ class: (@breadcrumbs.nil? ? '' : 'hidden-sm') + (project.visible ? '' : 'font-italic') }
          = project.title
    - if @breadcrumbs.present?
      - @breadcrumbs.each_with_index do |value, index|
        %li.clip-text.breadcrumb-item{ class: index == 0 && @breadcrumbs.size > 1 ? 'hidden-xxs hidden-xs' : '' }
          = link_to value[1].html_safe, eval(value[0]), title: strip_tags(value[1])
