-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

.row
  .col-xs-5.col-sm-3
    = link_to url_for(params.except(:filters)), remote: true do
      %h5
        %strong
          = t("reset_filters")
  - if filters.present?
    .col-xs-7.col-sm-4.col-sm-offset-5
      %a{ :role => "button", "data-toggle" => "collapse", "aria-expanded" => params[:filters].try(:any?) ? 'true' : 'false', "aria-controls" => "collapseFilters", :href => "#collapseFilters" }
        %h5.text-right
          %strong
            = t("advanced_filters")
- if filters.present?
  #collapseFilters.collapse.well{ :class => params[:filters].try(:any?) ? 'in' : '' }
    .row
      .col-xs-12
        %ul.nav.nav-pills
          - filters.each do |filter|
            - if lookup_context.find_all("shared/filters/_#{filter}.html.haml").any?
              = render :partial => "shared/filters/#{filter}"
