-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015,2018, Claudio Maradonna

- if filters.present?
  #collapseFilters.collapse.show.mt-2.border-left.border-info{ style: 'border-left-width: 3px !important;' }
    - if params.key?(:filters)
      - params[:filters].each_pair do |index, value|
        = hidden_field_tag "filters[#{index}]", value
    = hidden_field_tag "filters[last]", filter_value(:last)
    %strong{ style: 'padding-left: 0.75rem;' }
      = t('filters.filters')
    .btn-toolbar{ role: 'toolbar', "aria-label": t('filters.aria_label_toolbar') }
      .btn-group{ role: 'group', "aria-label": t('filters.aria_label_group') }
        - filters.each do |filter|
          - if lookup_context.find_all("shared/filters/_#{filter}.html.haml").any?
            = render :partial => "shared/filters/#{filter}"

    -# - unless @filters_breadcrumbs.nil?
    -#   .btn-toolbar{ role: 'toolbar', "aria-label": t('filters.aria_label_toolbar_active') }
    -#     .btn-group{ role: 'group', "aria-label": t('filters.aria_label_group_active') }
    -#       - @filters_breadcrumbs.each_with_index do |index, value|
    -#         %button.btn.btn-sm
    -#           = t("filters.#{index}")
