-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

.row
  .col-xs-5.col-sm-3
    = link_to reset_filterrific_url do
      %h5
        %strong
          = t("reset_filters")
  .col-xs-7.col-sm-4.col-sm-offset-5
    %a{ :role => "button", "data-toggle" => "collapse", "aria-expanded" => "false", "aria-controls" => "collapseFilters", :href => "#collapseFilters" }
      %h5.text-right
        %strong
          = t("advanced_filters")
#collapseFilters.collapse.well
  .row
    .col-xs-12
      %ul.nav.nav-pills
        - if current_page?(projects_path)
          %li{ :role => "presentation" }
            = f.select :sorted_by, @filterrific.select_options[:sorted_by], {}, :class => "form-control"
        - if !current_page?(projects_path) && params.key?(:project_id) && !current_page?(project_tasks_path) && !current_page?(project_sprints_path)
          %li{ :role => "presentation" }
            %a.dropdown-toggle{ "data-toggle" => "dropdown", :role => "button", "aria-haspopup" => "true", "aria-expanded" => "false" }
              = t(".task")
              %span.caret
            %div.dropdown-menu.panel.panel-default{ :style => "padding: 0;" }
              .panel-heading
                = f.text_field :search_task, class: "form-control filterrific-periodically-observed", placeholder: t("search")
              %ul.list-group.scrollbar
                - @project.tasks.each do |task|
                  %li.list-group-item
                    = link_to("filterrific[with_task]" => task, method: :get, remote: true) do
                      = task.title
        - if !current_page?(projects_path) && params.key?(:project_id) && !current_page?(project_sprints_path) && !current_page?(project_tasks_path)
          %li{ :role => "presentation" }
            %a.dropdown-toggle{ "data-toggle" => "dropdown", :role => "button", "aria-haspopup" => "true", "aria-expanded" => "false" }
              = t(".progress")
              %span.caret
            %div.dropdown-menu.panel.panel-default{ :style => "padding: 0;" }
              .panel-heading
                = f.text_field :progress_lower_than, class: 'form-control filterrific-periodically-observed', placeholder: t("lower_than")
        - if !current_page?(projects_path) && params.key?(:project_id) && !current_page?(project_goals_path) && !current_page?(project_sprints_path) && !current_page?(project_releases_path)
          %li{ :role => "presentation" }
            %a.dropdown-toggle{ "data-toggle" => "dropdown", :role => "button", "aria-haspopup" => "true", "aria-expanded" => "false" }
              = t(".goal")
              %span.caret
            %div.dropdown-menu.panel.panel-default{ :style => "padding: 0;" }
              .panel-heading
                = f.text_field :search_goal, class: "form-control filterrific-periodically-observed", placeholder: t("search")
              %ul.list-group.scrollbar
                - @project.goals.each do |goal|
                  %li.list-group-item
                    = link_to("filterrific[with_goal]" => goal, method: :get, remote: true) do
                      = goal.title
          -# %li{ :role => "presentation" }
          -#   %a.dropdown-toggle{ "data-toggle" => "dropdown", :role => "button", "aria-haspopup" => "true", "aria-expanded" => "false" }
          -#     = t(".workload")
          -#     %span.caret
          -#   %div.dropdown-menu.panel.panel-default{ :style => "padding: 0;" }
          -#     .panel-heading
          -#       - if !current_page?(project_goals_path)
          -#         = f.text_field :workload_lower_than, class: 'form-control filterrific-periodically-observed', placeholder: t("lower_than")
          %li{ :role => "presentation" }
            %a.dropdown-toggle{ "data-toggle" => "dropdown", :role => "button", "aria-haspopup" => "true", "aria-expanded" => "false" }
              = t(".worker")
              %span.caret
            %div.dropdown-menu.panel.panel-default{ :style => "padding: 0;" }
              .panel-heading
                - if !current_page?(project_goals_path)
                  = f.text_field :search_worker, class: 'form-control filterrific-periodically-observed', placeholder: t("search")
              %ul.list-group.scrollbar
                - @project.workers.unscoped.each do |worker|
                  %li.list-group-item
                    = link_to("filterrific[with_worker]" => worker, "filterrific[with_project]" => @project, method: :get, remote: true) do
                      = worker.name
          %li{ :role => "presentation" }
            %a.dropdown-toggle{ "data-toggle" => "dropdown", :role => "button", "aria-haspopup" => "true", "aria-expanded" => "false" }
              = t(".thinker")
              %span.caret
            %div.dropdown-menu.panel.panel-default{ :style => "padding: 0;" }
              .panel-heading
                - if !current_page?(project_goals_path)
                  = f.text_field :search_thinker, class: 'form-control filterrific-periodically-observed', placeholder: t("search")
              %ul.list-group.scrollbar
                - @project.contributions.each do |contribution|
                  - thinker = contribution.thinker
                  %li.list-group-item
                    = link_to("filterrific[with_thinker]" => thinker, "filterrific[with_project]" => @project, method: :get, remote: true) do
                      = thinker.name
        - if !current_page?(projects_path) && params.key?(:project_id) && current_page?(project_tasks_path)
          = f.label :closed, :class => "control-label pull-right" do
            = f.check_box(:with_deleted_at, {}, true, false)
            = t "closed"
