-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

%footer.footer
  .container
    .row
      .col-md-6.col-xs-6.text-muted
        = link_to "http://www.unitoo.pw" do
          = image_tag("logo_unitoo_ext", class: "hidden-xs pull-left", height: 24, style: 'margin-top: -3px;')
          = image_tag("logo_unitoo", class: "visible-xs pull-left", height: 24, style: 'margin-top: -3px;')
        %span.margin-left-10{ style: 'color: white;' }
          ©
          = DateTime.now.year
      .col-md-6.col-xs-6.text-muted.text-right
        = link_to "https://github.com/UnitooTeam", :style => 'text-decoration: none;', class: 'social-icon' do
          %i.fa.fa-github.fa-lg.fa-2x
        = link_to "https://framasphere.org/people/624807a05dd9013563562a0000053625", :style => 'text-decoration: none;', class: 'social-icon' do
          %i.fa.fa-asterisk.fa-lg.fa-2x.margin-left-10
        = link_to "https://mastodon.at/@unitoo", class: 'social-icon' do
          = image_tag "mastodon.png", width: 24, style: 'margin-top: -5px;', class: 'margin-left-10'
    %hr.margin-top-0
    .row
      .col-md-6.col-xs-12
        %h2
          About us
        %div.hidden
          = link_to "What is Thinks?"
        %div.hidden
          = link_to "Who we are?"
        = application_version
      .col-md-6.col-xs-12
        %h2
          = t ".help"
        %div
          = link_to t(".faqs"), faqs_path
        %div.hidden
          = link_to "Agile Handbook"
        %div.hidden
          = link_to "Support"
        %div.hidden
          = link_to "Terms of use"
        %div.hidden
          = link_to "Privacy policy"
        %div.hidden
          = link_to "Cookie policy"
