-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

%footer.footer.text-center
  .container
    .row
      .col-12.col-sm-4
        %div.mb-4
          = link_to "http://www.unitoo.pw" do
            = image_tag("logo_unitoo_ext", height: 28, style: 'margin-top: -3px;')
        %div.mb-3
          = link_to "https://github.com/UnitooTeam", :style => 'text-decoration: none;', class: 'social-icon' do
            = icon("github", class: "fa-lg fa-2x ml-2 text-white")
          = link_to "https://framasphere.org/people/624807a05dd9013563562a0000053625", :style => 'text-decoration: none;', class: 'social-icon' do
            = icon("asterisk", class: "fa-lg fa-2x ml-2 text-white")
          = link_to "https://mastodon.at/@unitoo", class: 'social-icon' do
            = image_tag "mastodon.png", width: 24, style: 'margin-top: -5px;', class: 'ml-2'
        %div
          %small.text-white
            Unitoo di Maradonna Claudio, ©
            = DateTime.now.year
            %br
            Via Borgo da mare 70/B, 63076, Monteprandone, AP, Italy
            %br
            VAT N.: 02324570445
      .col-12.col-sm-4.mt-4.mt-sm-0
        %h4.text-white
          About us
        %div
          = link_to "What is Thinks?"
        %div
          = link_to "Who we are?"
      .col-12.col-sm-4.mt-4.mt-sm-0
        %h4.text-white
          = t ".help"
        %div
          = link_to t(".faqs"), faqs_path
        %div
          = link_to "Agile Handbook"
        %div
          = link_to "Support"
        %div
          = link_to "Terms of use"
        %div
          = link_to "Privacy policy"
        %div
          = link_to "Cookie policy"
