%footer.footer
  .container
    %a.btn.pull-right{ :href => "#", :title => 'Back to top', :role => "button", style: 'margin: 11px 0;' }
      = icon('arrow-circle-up', :class => "dark-grey fa-lg")
    = application_version
    %p.pull-left.text-muted.copyright{ :style => "width: 30%;", title: "© #{DateTime.now.year} Claudio Maradonna" }
      ©
      = DateTime.now.year
      %span.hidden-xs
        C.M. ·
      %a.hidden-xs{:href => "#"} Privacy ·
      %a.hidden-xs{:href => "#"} Terms
    %p.text-center.text-muted
      = link_to "https://github.com/FiloSpaTeam/thinks" do
        %i.fa.fa-github.fa-lg
      ·
      = link_to "https://twitter.com/CMaradonna" do
        %i.fa.fa-twitter.fa-lg
      ·
      = link_to "https://pod.geraspora.de/people/3c34aa40d5140133c89e4860008dbc6c" do
        %i.fa.fa-asterisk.fa-lg
