-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

%footer.text-light.text-center.bg-dark
  .container
    .row
      .col-sm-8.mx-auto
        %span.copyright
          Copyright © Unitoo 
          = Date.current.year
        %small.form-text.text-muted.small
          The website is released under the terms of <i>AGPLv3</i> license. <br> You can find the sources here: 
          = link_to 'GitHub', 'https://github.com/UnitooTeam/unitoo.site'
          %br
          All the images (not valid for logo) are released under the <i>CC0</i> license. What is? 
          = link_to 'CreativeCommons', 'https://creativecommons.org/share-your-work/public-domain/cc0/'
        %ul.list-inline.social-buttons.mt-4.mb-3
          %li.list-inline-item
            %a.no-background{ href: "https://github.com/UnitooTeam" }
              = icon "fab", "github", class: 'fa-lg'
          %li.list-inline-item
            %a.no-background{ href:"https://framasphere.org/people/624807a05dd9013563562a0000053625" }
              = icon "fas", "asterisk", class: 'fa-lg'
          %li.list-inline-item
            %a.no-background{ href:"https://mastodon.at/@unitoo" }
              = image_tag "mastodon.png", width: 27, style: 'margin-top: -3px;'
          %li.list-inline-item
            %a.no-background{ href:"https://squeet.me/profile/unitoo" }
              = image_tag "friendica.png", width: 27, style: 'margin-top: -3px;'
          %li.list-inline-item
            %a.no-background{ href:"https://twitter.com/UnitooInc" }
              = icon "fab", "twitter", class: 'fa-lg'
          %li.list-inline-item
            %a.no-background{ href:"https://www.facebook.com/UnitooInc/" }
              = icon "fab", "facebook-f", class: 'fa-lg'
          %li.list-inline-item
            %a.no-background{ href:"https://liberapay.com/Unitoo/" }
              = image_tag "liberapay.png", width: 27, style: 'margin-top: -3px;'

        .small
          Unitoo di Claudio Maradonna, Via Borgo da Mare 70/B, Monteprandone, 63076 (AP) - 02324570445 - REA: AP-204883 - info@unitoo.pw - +39 393 6320924
