-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

%footer.footer
  .container
    %a.btn.pull-right{ :href => "#", :title => 'Back to top', :role => "button", style: 'margin: 15px 0; padding: 4px 10px;' }
      = icon('arrow-circle-up', :class => "dark-grey fa-lg")
    = application_version
    %p.pull-left.text-muted.copyright{ :style => "width: 30%;", title: "© #{DateTime.now.year} Claudio Maradonna" }
      ©
      = DateTime.now.year
      %span.hidden-xs
        C.M. ·
      %a.hidden-xs{:href => "#"} Privacy ·
      %a.hidden-xs{:href => "#"} Terms
    %p.text-center.text-muted
      = link_to "https://github.com/FiloSpaTeam/thinks", :style => 'text-decoration: none;' do
        %i.fa.fa-github.fa-lg
      ·
      = link_to "https://twitter.com/CMaradonna", :style => 'text-decoration: none;' do
        %i.fa.fa-twitter.fa-lg
      ·
      = link_to "https://pod.geraspora.de/people/3c34aa40d5140133c89e4860008dbc6c", :style => 'text-decoration: none;' do
        %i.fa.fa-asterisk.fa-lg
