-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

.panel.panel-default
  .panel-body
    .progress
      - if goal.tasks.size.nonzero?
        .progress-bar.progress-bar-info{ style: "width: #{percentage_from_value_and_total(goal.tasks.release.size, goal.tasks.size)}%;" }
        .progress-bar.progress-bar-danger{ style: "width: #{percentage_from_value_and_total(goal.tasks.in_sprint.size, goal.tasks.size)}%;" }
        .progress-bar.progress-bar-warning{ style: "width: #{percentage_from_value_and_total(goal.tasks.in_progress.size, goal.tasks.size)}%;" }
        .progress-bar.progress-bar-success{ style: "width: #{percentage_from_value_and_total(goal.tasks.done.size, goal.tasks.size)}%;" }
    = link_to project_tasks_path(@goal.project, "filterrific[with_goal]" => @goal) do
      =pluralize goal.tasks.size, 'task'

  - if goal.tasks.size.nonzero?
    = pie_chart @statuses.order(:id).map { |status| [t("projects.tasks.#{status.translation_code}"), goal.tasks.where(status: status).count] }, height: "200px", library: { chartArea: { left: 10, width: '100%' }, legend: { position: 'right', alignment: 'center' }, colors: [ '#607d8b', '#2196f3', '#f44336', '#ffc107', '#43a047' ] }

  .panel-body.hidden-xs.hidden-sm
    %strong
      Workload

  .list-group.hidden-xs.hidden-sm
    .list-group-item
      = badge(goal.tasks.where('status_id = ? or status_id = ?', @statuses.in_progress.first, @statuses.sprint.first).sum(:workload))
      current
    .list-group-item
      = badge(goal.tasks.done.sum(:workload))
      done
    .list-group-item
      = badge(goal.tasks.average(:standard_deviation).try(:round, 2))
      average standard deviation
