-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

%meta{ charset:"utf-8" }
%meta{ 'http-equiv': "x-ua-compatible", content:"ie=edge" }
%meta{ name:"viewport", content:"width=device-width, initial-scale=1, shrink-to-fit=no" }
%meta{ name:"description", content:"#{ @meta_description || t(controller.controller_name + '.' + controller.action_name + '.meta_description')}" }
%meta{ name:"author", content:"Unitoo Inc." }
%meta{ name:"keywords", content:"#{ @meta_keywords || t(controller.controller_name + '.' + controller.action_name + '.meta_keywords')}" }
%meta{ name:"robots", content:"index, follow" }
%meta{ name:"revisit-after", content:"2 days" }
%meta{ name:"rating", content:"general" }
%meta{ name:"theme-color", content:"#DC911B" }
%meta{ 'http-equiv': "Content-Type", content:"text/html;charset=utf-8" }

%meta{ name:"referrer", content:"no-referrer" }
%meta{ name:"format-detection", content:"telephone=no" }

%meta{ 'http-equiv': "x-dns-prefetch-control", content:"off" }

- unless @project.nil?
  %meta{ name:"project", value: @project.title, "data-slug": @project.slug }

%link{ rel:"alternate", hreflang:"it", href: url_for(locale: 'it') }
%link{ rel:"alternate", hreflang:"en", href: url_for(locale: 'en') }

%link{ rel:"me", href:"https://www.unitoo.pw", type: "text/html" }
%link{ rel:"me", href:"mailto:info@unitoo.pw" }
%link{ rel:"me", href:"tel:+393936320924" }

%link{ rel:"index", href: root_url }

%link{ rel:"dns-prefetch", href:"//#{ request.domain }/" }
%link{ rel:"preconnect", href: root_url }
%link{ rel:"prefetch", href: root_url }
%link{ rel:"prerender", href: root_url }
%link{ rel:"shortcut icon", href:"#{ asset_path('favicon.ico') }" }
%link{ rel:"icon", sizes:"192x192", href:"#{ asset_path('apple-touch-icon-192x192') }" }
%link{ rel:"apple-touch-icon", href:"#{ asset_path('apple-touch-icon') }" }
%link{ rel:"apple-touch-icon-precomposed", sizes:"180x180", href:"#{ asset_path('apple-touch-icon-180x180-precomposed') }" }
%link{ rel:"apple-touch-icon-precomposed", sizes:"152x152", href:"#{ asset_path('apple-touch-icon-152x152-precomposed') }" }
%link{ rel:"apple-touch-icon-precomposed", sizes:"144x144", href:"#{ asset_path('apple-touch-icon-144x144-precomposed') }" }
%link{ rel:"apple-touch-icon-precomposed", sizes:"120x120", href:"#{ asset_path('apple-touch-icon-120x120-precomposed') }" }
%link{ rel:"apple-touch-icon-precomposed", sizes:"114x114", href:"#{ asset_path('apple-touch-icon-114x114-precomposed') }" }
%link{ rel:"apple-touch-icon-precomposed", sizes:"76x76", href:"#{ asset_path('apple-touch-icon-76x76-precomposed') }" }
%link{ rel:"apple-touch-icon-precomposed", sizes:"72x72", href:"#{ asset_path('apple-touch-icon-72x72-precomposed') }" }
%link{ rel:"apple-touch-icon-precomposed", sizes:"60x60", href:"#{ asset_path('apple-touch-icon-60x60-precomposed') }" }
%link{ rel:"apple-touch-icon-precomposed", href:"#{ asset_path('apple-touch-icon-precomposed') }" }

%title= content_for?(:title) ? yield(:title) : "Think"

= csrf_meta_tags

= stylesheet_link_tag "//fonts.googleapis.com/css?family=Roboto:300,400,500,700", :media => "all"
= stylesheet_link_tag "application", :media => "all"
= javascript_include_tag "https://www.google.com/jsapi"
= javascript_include_tag 'application', 'data-turbolinks-track': "true"
-# = cloudinary_js_config
%script{ defer: true }
  - if thinker_signed_in?
    :plain
      $(document).ready(function() {
        setInterval(function() {
          var winWidth = $(window).width();
          var small = false;
          if (winWidth < 768) {
            small = true;
          }
          $.get({ url: '/notifications_check.js', data: {small: small}, dataType: "script" })
        }, 1000 * 60 * 3)
      });
