%nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only= t '.toggle_navigation'
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to content_for?(:title) ? yield(:title) : "Thinks", root_url, :class => "navbar-brand visible-sm visible-md visible-lg"
      - if @project.present? && @project.id.present?
        .navbar-header.pull-left.visible-xs{:style => "width: 118px;"}
          = link_to project_sprints_path(@project), :class => "btn navbar-btn" do
            = icon('flag', :class => "fa-lg fa-inverse")
            %span.hidden-xs= t(".sprints")
          = link_to project_goals_path(@project), :class => "btn navbar-btn" do
            = icon('crosshairs', :class => "fa-lg fa-inverse")
            %span.hidden-xs= t(".goals")
          = link_to project_tasks_path(@project), :class => "btn navbar-btn" do
            = icon('tasks', :class => "fa-lg fa-inverse")
            %span.hidden-xs= t(".tasks")
        = link_to truncate(@project.title, length: 16), project_path(@project), :class => 'visible-xs text-center navbar-brand'
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav
        %li{:class => active_link_if_current(projects_path)}
          = link_to projects_path do
            = icon('globe', :class => "fa-lg")
            = t(".projects")
        %li.dropdown
          %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown", :role => "button", "aria-haspopup" => "true", "aria-expanded" => "false"}
            = icon('question-circle', :class => "fa-lg")
            =t (".about")
            %span.caret
          %ul.dropdown-menu
            %li{current_page?(how_does_it_works_path) ? { :class => :active } : {} }
              = link_to t(".how_does_it_works"), how_does_it_works_path
            %li{current_page?(faqs_path) ? { :class => :active } : {} }
              = link_to t(".faqs"), faqs_path
      %ul.nav.navbar-nav.navbar-right
        %li
          - if thinker_signed_in?
            = link_to notifications_path do
              = icon('comments', :class => "fa-lg")
              = t(".notifications")
        - if thinker_signed_in?
          -# %li
          -#   = link_to t(".donate"), projects_path
          %li.dropdown
            = link_to "javascript:;", :class => "dropdown-toggle", "data-toggle" => :dropdown, :role => :button, "aria-haspopup" => :true, "aria-expanded" => :false do
              = icon('user', :class => "fa-lg")
              = t(".profile")
              = content_tag(:span, "", :class => :caret)
            %ul.dropdown-menu
              %li= link_to current_thinker.name, thinker_path(current_thinker)
              -# %li= link_to t(".show"), current_thinker
              -# %li
              -#   %a{:href => "#"} My projects
              -# %li
              -#   %a{:href => "#"} Settings
              -# = menu_divider
              %li= link_to t(".logout"), destroy_thinker_session_path, :method => :delete
        - else
          %li{current_page?(new_thinker_registration_path) ? { :class => :active } : {} }
            = link_to new_thinker_registration_path do
              = icon('user-plus', :class => "fa-lg")
              = t(".sign_up")
          %li{current_page?(new_thinker_session_path) ? { :class => :active } : {} }
            = link_to new_thinker_session_path do
              = icon('sign-in', :class => "fa-lg")
              = t(".sign_in")
