-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

%nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only= t '.toggle_navigation'
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      - if thinker_signed_in?
        = link_to notifications_path, :class => "visible-xs navbar-btn pull-right", :style => "padding: 0; margin-right: 10px; margin-top: 9px;" do
          = notification_icon(Notification.user(current_thinker), 'fa-2x')
      - if @project.present? && @project.id.present?
        = link_to truncate(@project.title, length: 36), project_path(@project), :class => 'visible-xs text-left navbar-brand'
        = link_to content_for?(:title) ? yield(:title) : "Thinks", root_url, :class => "navbar-brand visible-sm visible-md visible-lg"
      - else
        = link_to content_for?(:title) ? yield(:title) : "Thinks", root_url, :class => "navbar-brand visible-sm visible-md visible-lg visible-xs"
    .navbar-collapse.collapse.navbar-responsive-collapse{ style: 'max-height: 365px;' }
      %ul.nav.navbar-nav
        - if @project.present? && @project.id.present?
          %li.visible-xs{ current_page?(project_releases_path(@project)) ? { :class => :active } : {} }
            = link_to project_releases_path(@project) do
              = icon('flag-checkered', :class => "fa-lg")
              = t(".releases")
          %li.visible-xs{ current_page?(project_sprints_path(@project)) ? { :class => :active } : {} }
            = link_to project_sprints_path(@project) do
              = icon('flag', :class => "fa-lg")
              = t(".sprints")
          %li.visible-xs{ current_page?(project_goals_path(@project)) ? { :class => :active } : {} }
            = link_to project_goals_path(@project) do
              = icon('crosshairs', :class => "fa-lg")
              = t(".goals")
          %li.visible-xs{ current_page?(project_tasks_path(@project)) ? { :class => :active } : {} }
            = link_to project_tasks_path(@project) do
              = icon('tasks', :class => "fa-lg")
              = t(".tasks")
          %li.nav-divider.visible-xs
        %li{:class => active_link_if_current(projects_path)}
          = link_to projects_path do
            = icon('globe', :class => "fa-lg")
            = t(".projects")
        %li.dropdown
          %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown", :role => "button", "aria-haspopup" => "true", "aria-expanded" => "false"}
            = icon('question-circle', :class => "fa-lg")
            =t (".about")
            %span.caret
          %ul.dropdown-menu
            %li{current_page?(how_does_it_works_path) ? { :class => :active } : {} }
              = link_to t(".how_does_it_works"), how_does_it_works_path
            %li{current_page?(faqs_path) ? { :class => :active } : {} }
              = link_to t(".faqs"), faqs_path
      %ul.nav.navbar-left{ style: "margin: 11px 10px 0;" }
        %form{ action: "https://www.paypal.com/cgi-bin/webscr", method: "post", target: "_top"}
          %input{type: "hidden", name: "cmd", value: "_s-xclick"}
          %input{type: "hidden", name: "encrypted", value: "-----BEGIN PKCS7-----MIIHTwYJKoZIhvcNAQcEoIIHQDCCBzwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAnJvwJRavLiSyeDoZBaTiRuEqHP6TML41wQ9KWYhuklCOTmi63rBlUgK6YU7QVSWBwtEvQ3d4wb5ghWdBF/BJE0jCVNDZQRPHMtJJtwWdpvqCtohRzoZLceHixmkGIA/iWtVaII0MkOQev7YjSLvrJC7PyQQcE29HRmdoMvbnV/jELMAkGBSsOAwIaBQAwgcwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIrtl+Zdda0E+AgagCuRyBlf2mShWSoywBHWGLvQM/JrJnH0NLfNplJtyWyflBQkzElc7rjwsLuDNqjYXz1rj0sbkHyszM562OcvpxlnmZ7CUbwe5PTE0XOU4W63pjl7Tv2A8MRC3ndhhiRUpInU9BgUe+ljuZqL32lUnyM2Z9m4RtgQ3ZsZWfTi6qR9dB+ZL9EkoJVYcYr8iFijgmxQ0d+4byyzoADaoPY2IrjkcrO2VpjougggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNjA1MjAyMDM0NDhaMCMGCSqGSIb3DQEJBDEWBBRVgxDbVL2OrdSuUF84EPhqpH9QlTANBgkqhkiG9w0BAQEFAASBgLzRojrw3o3P0DyAqYRLfYLreYQFxf3zOXgQ3nZsINWKqZi5nofOR/k7y4LeMjbJqr9ZzKm7ppmZNT8DWTCheUjETzov1MjQDDBQb4MwGizzLiUe2GgzHk1qbnj8xFW/0+6nF7iX4TRJUKwuytJVBYA/d+RGwA7wEx5A06DR3Szz-----END PKCS7-----"}
          %input{ type: "image", src: "https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif", border: "0", name: "submit", alt: "PayPal - The safer, easier way to pay online!"}
          %img{alt: "", border: "0", src: "https://www.paypalobjects.com/it_IT/i/scr/pixel.gif", width: "1", height: "1"}
      %ul.nav.navbar-nav.navbar-right
        %li
          - if thinker_signed_in?
            = link_to notifications_path, :class => "hidden-xs" do
              = notification_icon(Notification.user(current_thinker))
              = t(".notifications")
        - if thinker_signed_in?
          %li.dropdown
            = link_to "javascript:;", :class => "dropdown-toggle", "data-toggle" => :dropdown, :role => :button, "aria-haspopup" => :true, "aria-expanded" => :false do
              = icon('user', :class => "fa-lg")
              = t(".profile")
              = content_tag(:span, "", :class => :caret)
            %ul.dropdown-menu
              - if @thinker.present? && @thinker.id.present?
                %li.visible-xs.visible-sm
                  %a{ href: '#' }
                    %strong
                      =t 'shared.profilebar.general'
                %li.visible-xs.visible-sm{current_page?(thinker_path(@thinker)) ? { :class => :active } : {} }
                  = link_to(t('.personal'), thinker_path(@thinker))
                %li.visible-xs.visible-sm
                  %a{ href: '#' }
                    %strong
                      =t 'shared.profilebar.security_and_privacy'
                %li.visible-xs.visible-sm{current_page?(edit_password_path(@thinker)) ? { :class => :active } : {} }
                  = link_to(t('.password'), edit_password_path(@thinker))
                %li.visible-xs.visible-sm{current_page?(otp_path(@thinker)) ? { :class => :active } : {} }
                  = link_to(t('.double_authentication'), otp_path(@thinker))
                %li.visible-xs.visible-sm
                  %a{ href: '#' }
                    %strong=t '.preferences'
                %li.visible-xs.visible-sm{current_page?(thinker_notifications_path(@thinker)) ? { :class => :active } : {} }
                  = link_to(t('.notifications'), thinker_notifications_path(@thinker))
                = menu_divider
              - else
                %li= link_to current_thinker.name, thinker_path(current_thinker)
              %li= link_to t(".logout"), destroy_thinker_session_path, :method => :delete
        - else
          %li{current_page?(new_thinker_registration_path) ? { :class => :active } : {} }
            = link_to new_thinker_registration_path do
              = icon('user-plus', :class => "fa-lg")
              = t(".sign_up")
          %li{current_page?(new_thinker_session_path) ? { :class => :active } : {} }
            = link_to new_thinker_session_path do
              = icon('sign-in', :class => "fa-lg")
              = t(".sign_in")
