-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

= render partial: 'layouts/flash_messages_mobile', locals: { flash: flash }
%nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top{ class: current_page?(start_index_path) || current_page?(root_path) ? "" : 'navbar-shrink' }
  = link_to root_path, class: 'navbar-brand' do
    = image_tag "logo_scritta", height: 36
  %button.navbar-toggler.navbar-toggler-right{type: "button", "data-toggle": "collapse", "data-target": "#menuResponsive", "aria-controls": "menuResponsive", "aria-expanded": "false", "aria-label": "Toggle navigation"}
    %span.navbar-toggler-icon
  .collapse.navbar-collapse#menuResponsive
    - if thinker_signed_in?
      %ul.navbar-nav.mr-auto
        %li.nav-item
          = link_to projects_path, class: 'nav-link' do
            = icon('fas', 'globe', class: 'fa-lg')
            = t(".projects")
    = render partial: 'layouts/flash_messages', locals: { flash: flash }
    %ul.navbar-nav.ml-auto
      - if thinker_signed_in?
        %li.nav-item
          = link_to notifications_path, :class => "nav-link" do
            = notification_icon(Notification.user(current_thinker))
            = t(".notifications")
        %li.nav-item.dropdown
          = link_to "javascript:;", :class => "dropdown-toggle  nav-link", "data-toggle" => :dropdown, :role => :button, "aria-haspopup" => :true, "aria-expanded" => :false do
            = icon('fas', 'user', :class => "fa-lg")
            = t(".profile")
            = content_tag(:span, "", :class => :caret)
          %div.dropdown-menu.dropdown-menu-right
            %a.dropdown-item.disabled
              %strong
                = current_thinker.name
              %br
              %small.font-italic
                = current_thinker.email
            = link_to dashboard_thinker_path(current_thinker), class: 'dropdown-item' do
              = icon('fas', 'home')
              = t(".dashboard")
            = link_to thinker_projects_path(current_thinker), class: 'dropdown-item' do
              = icon('fas', 'folder')
              = t(".my_projects")
            = link_to thinker_path(current_thinker), class: 'dropdown-item' do
              = icon('fas', 'user')
              = t(".my_profile")
            .dropdown-divider
            = link_to destroy_thinker_session_path, :method => :delete, class: 'dropdown-item' do
              = icon('fas', 'sign-out')
              = t(".logout")
      - else
        %li.nav-item
          = link_to new_thinker_session_path, class: 'nav-link' do
            = t("layouts.application.sign_in")
        %li.nav-item
          = link_to new_thinker_registration_path, class: 'nav-link' do
            = t("layouts.application.sign_up")
