%ul.dropdown-menu.no-padding{ style: 'padding-top: 10px !important;' }
  %div{style: 'min-width: 280px; max-height: 500px; overflow-x: hidden; overflow-y: scroll;'}
    - if @thinker_notifications.empty?
      %li.margin-left-0.row{style: 'padding: 10px 15px;'}
        = t "notifications.list.no_notifications_found"
    - else
      - @thinker_notifications.each_with_index do |notification, index|
        %li.margin-left-0.row{style: 'padding: 0 15px;', class: index > 7 ? 'borderline-notify' : ''}
          .col-sm-2.col-md-2.col-lg-2.no-padding
            - unless notification.project.deleted?
              = link_to project_path(notification.project), title: notification.project.title do
                - if notification.project.logo
                  = cl_image_tag(notification.project.logo.path, { size: '40x40', crop: :thumb, gravity: :face })
                - else
                  %div.bg-info{ style: 'width: 40px; height: 40px;' }
            - else
              %div.bg-info{ style: 'width: 40px; height: 40px;' }
          .col-sm-10.col-md-10.col-lg-10
            %small{title: notification.created_at.ago_in_words}
              - if notification.project.deleted?
                = title_for(notification)
              - else
                = link_to (notification_follow_path(notification)) do
                  = title_for(notification)
        %li.divider{role: 'separator'}
  %li{style: 'border-top: 1px solid #e5e5e5;'}
    = link_to notifications_path, class: 'text-center', style: 'padding: 5px 15px;' do
      %strong=t('view_all')

