-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

.well.no-print
  %h3
    General filters
  %h4
    Page filters
  - if current_page?(project_statistic_path)
    .radio
      = f.label t('.print_first_section') do
        = f.radio_button(:with_section, Projects::Statistic.sections[:s_first])
        = t ".print_first_section"
    .radio
      = f.label t('.print_second_section') do
        = f.radio_button(:with_section, Projects::Statistic.sections[:s_second])
        = t ".print_second_section"
    .radio
      = f.label t('.print_third_section') do
        = f.radio_button(:with_section, Projects::Statistic.sections[:s_third])
        = t ".print_third_section"
