%h1.chapter-title
  = link_to_button(team_project_path(@project), ".team", "screenshot")
  = link_to_button(project_tasks_path(@project), ".tasks", "tasks")
  = link_to_button(project_goals_path(@project), ".goals", "screenshot")
  = link_to_button(project_path(@project), ".project", "eye-open")
  = @project.title
