.panel.panel-default
  .panel-body
    %strong
      Project
    .progress
      %div{"aria-valuemax" => "#{project.cycle.days}", "aria-valuemin" => "1", "aria-valuenow" => "#{project.actual_day_of_sprint}", :class => "progress-bar #{progress_bar_color(project.days_percentage)}", :role => "progressbar", :style => "min-width: 2em; width: #{project.days_percentage}%;"}
    - if project.started?
      Sprint
      = project.sprint
    - else
      = project.countdown
      days left to start

  - if project.tasks.count.nonzero?
    .panel-body
      %strong
        = link_to "Tasks", project_tasks_path(project)

    .list-group
      .list-group-item
        = badge(project.tasks.count)
        total
      .list-group-item
        = badge(project.tasks.release.count)
        in release
      .list-group-item
        = badge(project.tasks.in_sprint.count)
        ready for work
      .list-group-item
        = badge(project.tasks.in_progress.count)
        in progress
      .list-group-item
        = badge(project.tasks.done.count)
        done


    .panel-body
      %strong
        Workload

    .list-group
      .list-group-item
        = badge(project.tasks.where('status_id = ? or status_id = ?', Status.in_progress.first, Status.sprint.first).sum(:workload))
        current
      .list-group-item
        = badge(project.tasks.done.sum(:workload))
        done
      .list-group-item
        = badge(project.tasks.average(:standard_deviation).try(:round, 2))
        average standard deviation
