-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

= render :partial => "shared/breadcrumbs", locals: { project: @project }
%nav.navbar.navbar-light.navbar-expand-lg.border.hidden-xxs.hidden-xs
  %ul.navbar-nav.ml-auto
    = yield :page_actions
    %li.nav-item.dropdown.border-left.float-left
      %a.dropdown-toggle.text-dark.line-height-25.line-height-35#dropdown-btns-project{ type: :button, "data-toggle" => :dropdown, "aria-haspopup" => :true, "aria-expanded" => :false, href: "javascript:;" }
        = icon('far', 'folder-open')
        %span.caret
      .dropdown-menu.dropdown-menu-right.dropdown-mobile{ "aria-labelledby" => "dropdown-btns-project" }
        - if @project.active? || scrum_master?(@project)
          = link_to brief_project_path(project), class: 'dropdown-item' do
            = icon('fas', 'map', class: "dark-grey")
            %span= t(".brief")
          .dropdown-divider
          = link_to project_goals_path(project), class: 'dropdown-item' do
            = icon('fas', 'crosshairs', :class => "dark-grey")
            %span= t(".goals")
          = link_to project_releases_path(project), class: 'dropdown-item' do
            = icon('fas', 'flag-checkered', :class => "dark-grey")
            %span= t(".releases")
          = link_to project_sprints_path(project), class: 'dropdown-item' do
            = icon('fas', 'flag', :class => "dark-grey")
            %span= t(".sprints")
          - if project.with_recruiting?
            .dropdown-divider
            = link_to project_recruitments_path(project), class: 'dropdown-item' do
              = icon('fas', 'user-plus', :class => "dark-grey")
              %span= t(".recruitment")

