-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015,2018 Claudio Maradonna

%ul.list-group.list-group-flush
  = link_to project_path(project), class: 'list-group-item list-group-item-action' do
    - if project.logo
      = cl_image_tag(project.logo.path, { style: 'width: auto; height: 30px; max-width: 100%', class: 'mr-1' })
    - else
      %img.float-left.mr-1{ src: project.alternative_image(38) }
    .font-weight-bold= project.title
    %small
      - if project.motto.present?
        = project.motto
      - else
        = plain_text(project.description.lines.first)
  %li.list-group-item
    %small.font-weight-bold{ 'data-container': "body", 'data-toggle': "popover", 'data-placement': "right", 'data-content': t("projects.condition.info_#{project.condition}"), 'data-trigger': 'hover', 'data-html': 'true' }
      = icon('fas', 'info-circle', t('activerecord.attributes.project.condition'))
    %br
    = t("projects.condition.#{project.condition}")
  - if content_for? :page_menu
    = yield :page_menu
  - else
    - if @project.active?
      = link_to brief_project_path(project), class: 'list-group-item list-group-item-action border-top-0' do
        = icon('fas', 'map', t(".brief"))
    -# <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    -#   <div class="d-flex w-100 justify-content-between">
    -#     <h5 class="mb-1">List group item heading</h5>
    -#     <small>3 days ago</small>
    -#   </div>
    -#   <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    -#   <small>Donec id elit non mi porta.</small>
    - if @project.active? || @scrum_master
      %li.list-group-item
        %small.font-weight-bold= t('.general_actions')
      = link_to project_goals_path(project), class: 'list-group-item list-group-item-action' do
        = icon('fas', 'crosshairs', t(".goals"))
      = link_to project_tasks_path(project), class: "list-group-item list-group-item-action" do
        = icon('fas', 'tasks', t(".tasks"))
      = link_to project_releases_path(project), class: "list-group-item list-group-item-action #{ 'btn disabled' if @project.beginning? }" do
        = icon('fas', 'flag-checkered', t(".releases"))
      = link_to project_sprints_path(project), class: "list-group-item list-group-item-action #{ 'btn disabled' if @project.beginning? || @project.definition? }" do
        = icon('fas', 'flag', t(".sprints"))
      - if project.with_recruiting?
        = link_to project_recruitments_path(project), class: 'list-group-item list-group-item-action' do
          = icon('fas', 'user-plus', t(".recruitment"))
