.panel.panel-default
  .list-group
    = link_to(t('.description'), edit_project_path(@project), :class => "list-group-item #{ current_page?(edit_project_path(@project)) ? 'active' : '' }")
    = link_to(t('.release_date_and_other_stuff'), project_settings_release_index_path(@project), :class => "list-group-item #{ current_page?(project_settings_release_index_path(@project)) ? 'active' : '' }")
    = link_to(t('.links'), project_settings_links_path(@project), :class => "list-group-item #{ current_page?(project_settings_links_path(@project)) ? 'active' : '' }")
    = link_to(t('.sprint_settings'), project_settings_sprint_index_path(@project), :class => "list-group-item #{ current_page?(project_settings_sprint_index_path(@project)) ? 'active' : '' }")
    = link_to(t('.other_settings'), project_settings_other_index_path(@project), :class => "list-group-item #{ current_page?(project_settings_other_index_path(@project)) ? 'active' : '' }")
