-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

.panel.panel-default
  .panel-heading
    %strong=t '.settings'
  .list-group
    = link_to(t('.description'), edit_project_path(@project), :class => "list-group-item #{ current_page?(edit_project_path(@project)) ? 'active' : '' }")
    = link_to(t('.developments_approach'), project_settings_release_index_path(@project), :class => "list-group-item #{ current_page?(project_settings_release_index_path(@project)) ? 'active' : '' }")
    = link_to(t('.links'), project_settings_links_path(@project), :class => "list-group-item #{ current_page?(project_settings_links_path(@project)) ? 'active' : '' }")
    = link_to(t('.images_settings'), project_settings_images_path(@project), :class => "list-group-item #{ current_page?(project_settings_images_path(@project)) ? 'active' : '' }")
  .panel-heading
    %strong=t '.team'
  .list-group
    = link_to(t('.skill_requirements'), project_settings_skills_path(@project), :class => "list-group-item #{ current_page?(project_settings_skills_path(@project)) ? 'active' : '' }")
    = link_to(t('.contribution_settings'), project_settings_contribution_types_path(@project), :class => "list-group-item #{ current_page?(project_settings_contribution_types_path(@project)) ? 'active' : '' }")
  .panel-heading
    %strong=t '.actions'
  .list-group
    = link_to(t('.transfer_project'), project_settings_other_index_path(@project), :class => "list-group-item #{ current_page?(project_settings_other_index_path(@project)) ? 'active' : '' }")
    = link_to(t('.link_to_master_project'), project_settings_father_index_path(@project), :class => "list-group-item #{ current_page?(project_settings_father_index_path(@project)) ? 'active' : '' }")
