-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

.navbar.navbar-default
  %ol.breadcrumb.margin-bottom-0.no-background.pull-left{ style: 'height: 50px;' }
    %li{ style: 'margin-top: 9px;' }
      = link_to project_path(project) do
        = cl_image_tag(project.logo.path, { size: '20x20' }) if project.logo
        %strong.hidden-xs
          = project.title
    = render :partial => "shared/breadcrumbs"
  %ul.nav.navbar-nav.navbar-right.margin-right-0.navbar-right-margin-0.pull-right
    = yield :page_actions
    %li.dropdown.border-left.pull-left
      %a.line-height-25.line-height-35#dropdown-btns-project{ type: :button, "data-toggle" => :dropdown, "aria-haspopup" => :true, "aria-expanded" => :false, href: "javascript:;" }
        = icon('folder', :class => "dark-grey fa-lg")
        %span.caret
      %ul.dropdown-menu.dropdown-mobile{ "aria-labelledby" => "dropdown-btns-project" }
        %li
          = link_to project_releases_path(project) do
            = icon('flag-checkered', :class => "dark-grey")
            %span= t(".releases")
        %li
          = link_to project_sprints_path(project) do
            = icon('flag', :class => "dark-grey")
            %span= t(".sprints")
        %li
          = link_to project_goals_path(project) do
            = icon('crosshairs', :class => "dark-grey")
            %span= t(".goals")
        %li
          = link_to project_tasks_path(project) do
            = icon('tasks', :class => "dark-grey")
            %span= t(".tasks")
