.panel.panel-default
  .panel-body
    .progress
      %div{"aria-valuemax" => "#{project.cycle.days}", "aria-valuemin" => "1", "aria-valuenow" => "#{project.actual_day_of_sprint}", :class => "progress-bar #{progress_bar_color(project.days_percentage)}", :role => "progressbar", :style => "min-width: 2em; width: #{project.days_percentage}%;"}
    - if project.started?
      Sprint
      = project.sprint
    - elsif project.countdown < 0
      = t("release_date_not_defined_yet")
    - else
      = project.countdown
      days left to start

  - if project.started?
    .panel-body
      = link_to project_tasks_path(project) do
        = pluralize project.tasks.size, 'task'
      - if project.tasks.size.nonzero?
        = pie_chart Status.all.order(:id).map { |status| [t("projects.tasks.#{status.translation_code}"), project.tasks.where(status: status).count] }, width: "300px", height: "200px", library: { chartArea: { }, legend: 'bottom', colors: [ '#607d8b', '#2196f3', '#f44336', '#ffc107', '#43a047' ] }

    .panel-body.hidden-xs.hidden-sm
      %strong
        Workload

    .list-group.hidden-xs.hidden-sm
      .list-group-item
        = badge(project.tasks.where('status_id = ? or status_id = ?', Status.in_progress.first, Status.sprint.first).sum(:workload))
        current
      .list-group-item
        = badge(project.tasks.done.sum(:workload))
        done
      .list-group-item
        = badge(project.tasks.average(:standard_deviation).try(:round, 2))
        average standard deviation
