-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

.row
  %label.control-label.col-xs-6
    Sprint number:
  %label.control-label.col-xs-6.label-normal
    = sprint.serial
  %label.control-label.col-xs-6
    Tasks done:
  %label.control-label.col-xs-6.label-normal
    - thinker_tasks_done = tasks_done.where(worker: @local_thinker)
    = "#{thinker_tasks_done.count} / #{tasks_done.count} "
.row
  %label.control-label.col-xs-6
    Tasks in progress:
  %label.control-label.col-xs-6.label-normal
    - thinker_tasks_in_progress = tasks_in_progress.where(worker: @local_thinker)
    = "#{thinker_tasks_in_progress.count} / #{tasks_in_progress.count}"
.row
  %label.control-label.col-xs-6
    Total workload:
  %label.control-label.col-xs-6.label-normal
    = thinker_tasks_done.sum(:workload)
