= form_for([@project, @sprint]) do |f|
  - if @sprint.errors.any?
    #error_explanation
      %h2
        = pluralize(@sprint.errors.count, "error")
        prohibited this sprint from being saved:
      %ul
        - @sprint.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :serial
    %br/
    = f.number_field :serial
  .field
    = f.label :obtained
    %br/
    = f.number_field :obtained
  .field
    = f.label :project_id
    %br/
    = f.number_field :project_id
  .actions
    = f.submit
