-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

.panel-default
  %ul.list-group
    - unless smart_listing.empty?
      - smart_listing.collection.each do |sprint|
        %li.list-group-item{ :style => @project.sprint.try(:serial) == sprint.serial ? 'height: 250px;' : '' }
          %strong
            Sprint
            = sprint.serial
          \-
          = t('workload') + ':'
          = sprint.obtained
          \-
          %i
            = sprint.created_at.strftime('%Y.%m.%d')
            at
            = sprint.updated_at.strftime('%Y.%m.%d')
          - if (sprint == @project.sprint.try(:previous))
            - answers_thinker = AnswerThinker.where(sprint: sprint).where(thinker: current_thinker)
            - if answers_thinker.empty?
              %a.pull-right.btn{ :href => new_sprint_survey_path(sprint), :title => t('survey') , :role => "button", "data-method" => :get, style: 'margin-top: -7px;' }
                = icon('circle-o', :class => "dark-grey fa-lg")
          %a.pull-right.btn{ :href => sprint_survey_index_path(sprint), :title => t('survey') , :role => "button", "data-method" => :get, style: 'margin-top: -7px;' }
            = icon('file-text-o', :class => "dark-grey fa-lg", title: t(:results))
      %li.list-group-item.text-center
        %i
          = t('.start_of_your_sprints')
    - else
      %li.list-group-item.text-center
        %i
          = t('project_not_started')
