%thead
  %tr
    %td
      .col-xs-3
        %h5
          %strong
            = t "sprint"
    %td
      .col-xs-11
        %h5
          %strong
            = t "created_at"
    %td
      .col-xs-11
        %h5
          %strong
            = t "updated_at"
    %td
      .col-xs-3
        %h5
          %strong
            = t "obtained"
    %td
      .col-xs-2
        %h5
          %strong
            = t ".survey"
%tbody
  - unless (@sprints.empty?)
    - @sprints.each do |sprint|
      %tr{ :class => @project.sprint == sprint.serial ? "warning" : "success" }
        %td
          Sprint #{sprint.serial}
        %td
          %span.hidden-xs
            = sprint.created_at.to_s(:long)
          %span.visible-xs
            = sprint.created_at.to_s(:short)
        %td
          %span.hidden-xs
            = sprint.updated_at.to_s(:long)
          %span.visible-xs
            = sprint.updated_at.to_s(:short)
        %td.text-center
          = sprint.obtained
        %td.text-center
          %a.btn{ :href => sprint_survey_index_path(sprint), :title => t('survey') , :role => "button", "data-method" => :get }
            = icon('book', :class => "dark-grey")
  - else
    %td.text-center{ :colspan => 4 }
      = t('no_record')
