%thead
  %tr
    %td
      .col-xs-3
        %h5
          %strong
            = t "sprint"
    %td
      .col-xs-10
        %h5
          %strong
            = t "created_at"
    %td
      .col-xs-10
        %h5
          %strong
            = t "updated_at"
    %td
      .col-xs-3
        %h5
          %strong
            = t "obtained"
%tbody
  - unless (@sprints.empty?)
    - @sprints.each do |sprint|
      %tr{ :class => @project.sprint == sprint.serial ? "warning" : "success" }
        %td
          Sprint #{sprint.serial}
        %td
          = sprint.created_at.to_s(:long)
        %td
          = sprint.updated_at.to_s(:long)
        %td.text-center
          = sprint.obtained
  - else
    %td.text-center{ :colspan => 4 }
      = t('no_record')
