= render partial: 'shared/projectbar', locals: { project: @project }
.row
  .col-md-4
    = render partial: 'shared/projectstatuspanel', locals: { project: @project }
  .col-md-8
    .panel.panel-default.hidden-xs
      .panel-body
        - if @sprints.size >= 2
          = line_chart @sprints.unscoped.limit(10).offset(1).group_by_day(:created_at, format: "%b %d, %Y").order("day desc").sum(:obtained), height: '180px', library: { hAxis: { textPosition: 'none', format: 'dd/mm' }, chartArea: { width: '90%', height: '80%' }, vAxis: { gridlines: { color: '#EEE' } } }
    .panel.panel-default
      -# .panel-heading
      -#   = form_for_filterrific @filterrific, :html => { :class => 'form-horizontal' } do |f|
      -#     = render partial: 'shared/filters', :locals => { :f => f }
      .panel-body{ :style => 'padding: 0;' }
        = render_filterrific_spinner
        %table.table.table-condensed.table-hover#filterrific_results
          = render partial: 'list', locals: { sprints: @sprints }
    = paginate @sprints, :remote => true
