%p#notice= notice
%p
  %strong Serial:
  = @sprint.serial
%p
  %strong Obtained:
  = @sprint.obtained
%p
  %strong Project:
  = @sprint.project_id
= link_to 'Edit', edit_sprint_path(@sprint)
|
= link_to 'Back', project_sprints_path(@sprint.project)
