-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015,2018, Claudio Maradonna

- content_for :page_content do
  = form_for @project, url: project_settings_other_index_path, method: :post, :html => { :class => '' } do |f|
    .form-group.has-feedback
      = label_tag t('activerecord.attributes.project.owner'), nil, :class => 'control-label'
      = text_field_tag :owner_email, @project.thinker.email, :class => 'form-control'
      %small#help-owner-email.form-text.text-muted
        = t ".change_owner_email"
    %hr
    = f.submit t('.transfer'), :class => 'btn btn-primary'
    = link_to t('cancel'), projects_path, :class => 'btn btn-default'

= render partial: 'projects/layout_settings'
