-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

= render partial: 'shared/profileheader', locals: { thinker: @thinker }
.row
  .col-md-4
    = render partial: 'shared/profilebar', locals: { thinker: @thinker }
  .col-md-8
    .panel.panel-default
      .list-group
        .list-group-item
          - if @thinker.otp_required_for_login
            = link_to(disable_otp_path(@thinker), :title => t('disable') , :role => "button", "data-method" => :put, class: "btn pull-right", data: { confirm: t(".are_you_sure_want_disable_otp") }) do
              = icon('fas', 'times', :class => "fa-lg")
              Disable
            %strong
              OTP Enabled
          - else
            = link_to(enable_otp_path(@thinker), :title => t('enable') , :role => "button", "data-method" => :put, class: "btn pull-right") do
              = icon('fas', 'check', :class => "fa-lg")
              Enable
            %strong
              OTP Disabled
        - if @thinker.otp_required_for_login
          - if flash[:otp_enabled]
            .list-group-item
              Codes
              = link_to(otp_path(@thinker), :title => t('hide') , :role => "button", class: "btn pull-right") do
                = icon('fas', 'eye-slash', :class => 'fa-lg')
                = t 'hide'
            .list-group-item
              %strong
                Secrets
            .list-group-item
              Code
              %span.float-right
                = @thinker.otp_secret
            .list-group-item{ style: "height: 119px;" }
              QRCode
              .float-right
                = raw RQRCode::render_qrcode(current_thinker.otp_provisioning_uri(current_thinker.email), :svg, :level => :l, :unit => 2)
          - else
            .list-group-item
              Codes
              %a.btn.float-right{ type: 'button', 'data-toggle' => 'modal', href: '#div-password-confirmation' }
                = icon('fas', 'eye', :class => 'fa-lg')
                = t 'show'

#div-password-confirmation.modal.fade{ tabindex: -1, role: 'dialog' }
  .modal-dialog
    .modal-content
      = form_for @thinker, url: codes_otp_path(@thinker), as: :otp, method: :put do |f|
        .modal-body
          = f.label :confirm_password, class: 'control-label'
          = f.password_field :password, class: 'form-control', autocomplete: 'off'
        .modal-footer
          %button.btn.btn-default{ type: 'button', 'data-dismiss' => 'modal' }
            = t 'close'
          = f.submit t('confirm'), class: 'btn btn-primary'
