-# frozen_string_literal: true

-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2018 Claudio Maradonna

.card
  .p-3
    %h5.card-title.mb-0= icon('fas', 'tasks', t('.title', count: tasks.count))
  .list-group.list-group-flush
    - tasks.each do |task|
      = link_to project_task_path(@project, task), class: "list-group-item list-group-item-action" do
        .round-sm.rounded.float-left.mr-1{ class: "bg-#{color_list_round_div(task.status.translation_code)}", style: 'width: 1.2rem; height: 1.2rem;' }
        .text-primary
          = task.title
        = plain_text(task.description).truncate(150)

    - if tasks.empty?
      .list-group-item
        = t('.no_results')
  .card-footer.border-top-0
    = link_to t('.go_to'), project_tasks_path(@project), class: 'btn btn-outline-primary'
