-# frozen_string_literal: true

-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2018 Claudio Maradonna

.card
  .card-body
    %h5.card-title.mb-0
      = icon('fas', 'crosshairs', t('.title', count: goals.count))
  .list-group.list-group-flush
    - goals.each do |goal|
      = link_to project_goal_path(@project, goal), class: 'list-group-item list-group-item-action' do
        = goal.title
        %br
        = plain_text(goal.description).truncate(150)

    - if goals.empty?
      .list-group-item
        = t('.no_results')
  .card-footer
    = link_to t('.go_to'), project_goals_path(@project), class: 'btn btn-outline-primary', target: '_blank'
