.col-md-4.col-sm-6.col-xs-12
  .panel.panel-default
    .panel-heading.no-padding.text-center
      = link_to project_path(project) do
        - if project.main_image
          = cl_image_tag(project.main_image.path, { style: 'width: 100%; height: 180px;' })
        - else
          %div.bg-info{ style: 'height: 180px; width: 100%;' }
    .panel-body.min-height-160
      = link_to project_path(project) do
        %strong= project.title
        %span.help-block{ style: 'margin-bottom: 0; margin-top: 0;' }
          = highlights_searched_text(plain_text(project.description.lines.first).truncate(150), filter_value(:title_or_description))
    .panel-footer
      %small
        - if project.category.present?
          = t("category.#{project.category.t_name}")
        - else
          &nbsp;
        %span.pull-right{ style: 'margin-top: 2px;' }
          - if project.started?
            Started
          - elsif project.suspended
            Suspended
          - else
            Backlogging
