-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2017, Claudio Maradonna

.col-md-4.col-sm-6.col-xs-12
  .panel.panel-default
    .panel-heading.no-padding.text-center{ style: 'background-color: #fff;' }
      - if project.subprojects.exists?
        %i.fa.fa-sitemap.fa-lg{ 'data-toggle': 'popover', 'data-trigger': 'click', 'data-content': 'This project has subprojects.', 'data-placement': 'top', style: 'position: absolute; right: 20px; top: 5px;' }
      = link_to project_path(project) do
        - if project.main_image
          = cl_image_tag(project.main_image.path, { style: 'width: auto; height: 180px; max-width: 100%' })
        - else
          %div.bg-info{ style: 'height: 180px; width: 100%;' }
    .panel-body.min-height-160{ style: 'background-color: #FBFBFB;' }
      = link_to project_path(project) do
        %strong= project.title
        %small.form-text.text-muted{ style: 'margin-bottom: 0; margin-top: 0;' }
          = highlights_searched_text(plain_text(project.description.lines.first).truncate(150), filter_value(:title_or_description))
        %strong
          = t('.general')
    .panel-footer{ style: 'background-color: white; border-top: 0px;' }
      %small
        - if project.category.present?
          = t("category.#{project.category.t_name}")
        - else
          &nbsp;
        %span.float-right{ style: 'margin-top: 2px;' }
          - if project.started?
            = t "started"
          - elsif project.suspended?
            = t "suspended"
          - else
            = t "backlogging"
