-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

= form_for @project do |f|
  %h2
    Title and description
  .form-group.required
    = f.label :title, :class => 'control-label'
    = f.text_field :title, :class => 'form-control', :placeholder => "My project", :required => true
  .form-group.required
    = link_to 'javascript:;', 'data-toggle' => 'popover', 'data-placement' => 'top', 'data-content' => "Medium (or long if you want) text that explain well <strong>what do you expect from</strong> this project and <strong>what do you want to realize</strong>.<br><br>The <strong>first row appears in the main page</strong> as \"<i>Short description</i>\" <strong>under title</strong> in the cards.<br>So, choose right words to get a beautiful card in the main page!", 'data-html' => 'true' do
      = icon('info-circle')
    = f.label :description, :class => 'control-label'
    = f.text_area :description, :class => 'form-control', :rows => 15, :placeholder => "My beautiful and long description that help others to understand what i'm sharing.", "aria-describedby" => "help-description", :required => true
    %span#help-description.help-block
      = t "remaining_chars"
      %span#counter{ 'data-maximum-length' => Project.validators_on(:description)[0].options[:maximum] }
        = Project.validators_on(:description)[0].options[:maximum] - f.object.description.try('length').to_i
  %h2
    Sprint and release date
  %p
    If you want you can set your <strong>release date</strong>. The release date describes the moment in which <strong>starts development</strong> of the project.
    %br
    <strong>Before that moment, the project is under <i>"backlogging"</i></strong>, where you and your team should design (create goals, tasks and organize them).

  %p
    When the project starts, you and your team can start work over tasks, complete goals and so on.
    %br
    The working period is usefull to divide the entire development process into subperiods (1 week, 2 weeks..., called <strong><i>"Sprint"</i></strong>) so you can study your development's "speed", take surveys about work and get charts.
  .form-group
    = link_to 'javascript:;', 'data-toggle' => 'popover', 'data-placement' => 'top', 'data-content' => "<strong>There are no bad choices.</strong><br>Depends on your changing speed (you need to change details usually?).<br><br><strong>FAQ - Can i change working period later? (TODO)</strong>", 'data-html' => 'true' do
      = icon('info-circle')
    = f.label :cycle_id, :class => "control-label"
    = f.select :cycle_id, options_from_collection_for_select(Cycle.all, 'id', 'description', @project.cycle_id), {}, :class => "form-control"
  .form-group
    = f.label :release_at, :class => 'control-label'
    = f.text_field :release_at, :class => 'form-control', "data-provide" => 'datepicker', :placeholder => "yyyy-mm-dd", "data-date-format" => "yyyy-mm-dd", "aria-describedby" => "help-release_at"
    %span#help-release_at.help-block= t ".release_at_help"
  .form-group.required
    = link_to 'javascript:;', 'data-toggle' => 'popover', 'data-placement' => 'top', 'data-content' => "This describe the minimum team number needed to satisfy the workload of the development. As you can understand, more workload, more team members.<br><br><strong>How does it works? - Automatic task handling (TODO)</strong>", 'data-html' => 'true' do
      = icon('info-circle')
    = f.label :minimum_team_number, :class => 'control-label'
    = f.number_field :minimum_team_number, :class => 'form-control ', :min => 2
  %h2
    Category, license and links
  %p
    You can select only <strong>Free Software (as in freedom) compatible licenses</strong>.
  .form-group
    = link_to 'javascript:;', 'data-toggle' => 'popover', 'data-placement' => 'top', 'data-content' => "Choose the right category and everyone can see your project under that.", 'data-html' => 'true' do
      = icon('info-circle')
    = f.label :category_id, :class => 'control-label'
    = f.select :category_id, content_tag(:option,'Select one...',:value => "") + options_from_collection_for_select(Category.all, 'id', 'name', @project.category_id), {}, :class => 'form-control'
  .form-group
    = f.label :license_id, :class => 'control-label'
    = f.select :license_id, content_tag(:option,'Select one...',:value => "") + options_from_collection_for_select(License.all.order(:name), 'id', 'description', @project.license_id), {}, :class => 'form-control'
  %h2
    Logo and main image
  .form-group
    = f.label :logo, :class => 'control-label'
    = f.attachinary_file_field :logo
    %span#help-main-image.help-block
      = t ".square_image"
  .form-group
    = link_to 'javascript:;', 'data-toggle' => 'popover', 'data-placement' => 'top', 'data-content' => "Used to represent the project on the main page<br><br><a href='#{image_url('/template_thinks_main_image.svg')}' download='template-main-image.svg'>Download template (SVG, CC-BY-SA)</a>", 'data-html' => 'true' do
      = icon('info-circle')
    = f.label :main_image, :class => 'control-label'
    = f.attachinary_file_field :main_image
    %span#help-main-image.help-block
      = t ".landscape_image"
  %hr
  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), |
    projects_path, :class => 'btn btn-default'                   |
= init_counter_textarea('#project_description', '#counter')
