-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

= form_for @project do |f|
  %h2
    Title and description
  .form-group.required
    = f.label :title, :class => 'control-label'
    = f.text_field :title, :class => 'form-control', :placeholder => "My project", :required => true
  .form-group.required
    = link_to 'javascript:;', 'data-toggle' => 'popover', 'data-placement' => 'top', 'data-content' => t('shared.projectsettingsbar.description_help_1'), 'data-html' => 'true' do
      = icon('info-circle')
    = f.label :description, :class => 'control-label'
    = f.text_area :description, :class => 'form-control has-counter', :rows => 15, :placeholder => "My beautiful and long description that help others to understand what i'm sharing.", "aria-describedby" => "help-description", :required => true
    %span#help-description.help-block
      = t "remaining_chars"
      %span.counter{ 'data-maximum-length' => Project.validators_on(:description)[0].options[:maximum] }
        = Project.validators_on(:description)[0].options[:maximum] - f.object.description.try('length').to_i
  %h2
    = t 'shared.projectsettingsbar.sprint_and_release_date'
  = t('shared.projectsettingsbar.sprint_and_release_date_introduction').html_safe
  .form-group
    = link_to 'javascript:;', 'data-toggle' => 'popover', 'data-placement' => 'top', 'data-content' => t('shared.projectsettingsbar.sprint_and_release_date_help_1'), 'data-html' => 'true' do
      = icon('info-circle')
    = f.label :cycle_id, :class => "control-label"
    = f.select :cycle_id, options_from_collection_for_select(Cycle.all, 'id', 'description', @project.cycle_id), {}, :class => "form-control"
  .form-group
    = f.label :release_at, :class => 'control-label'
    = f.text_field :release_at, :class => 'form-control', "data-provide" => 'datepicker', :placeholder => "yyyy-mm-dd", "data-date-format" => "yyyy-mm-dd", "aria-describedby" => "help-release_at"
    %span#help-release_at.help-block= t ".release_at_help"
  .form-group.required
    = link_to 'javascript:;', 'data-toggle' => 'popover', 'data-placement' => 'top', 'data-content' => t('shared.projectsettingsbar.sprint_and_release_date_help_2'), 'data-html' => 'true' do
      = icon('info-circle')
    = f.label :minimum_team_number, :class => 'control-label'
    = f.number_field :minimum_team_number, :class => 'form-control ', :min => 2
  %h2
    = t 'shared.projectsettingsbar.links'
  = t('shared.projectsettingsbar.links_introduction').html_safe
  .form-group
    = link_to 'javascript:;', 'data-toggle' => 'popover', 'data-placement' => 'top', 'data-content' => t('shared.projectsettingsbar.links_help_1'), 'data-html' => 'true' do
      = icon('info-circle')
    = f.label :category_id, :class => 'control-label'
    = f.select :category_id, content_tag(:option,'Select one...',:value => "") + options_from_collection_for_select(Category.all, 'id', 'name', @project.category_id), {}, :class => 'form-control'
  .form-group
    = f.label :license_id, :class => 'control-label'
    = f.select :license_id, content_tag(:option,'Select one...',:value => "") + options_from_collection_for_select(License.all.order(:name), 'id', 'description', @project.license_id), {}, :class => 'form-control'
  .form-group.has-feedback
    = f.label :home_url, :class => 'control-label'
    = f.text_field :home_url, :class => 'form-control'
    %i.glyphicon.glyphicon-home.form-control-feedback
  .form-group.has-feedback
    = f.label :source_code_url, :class => 'control-label'
    = f.text_field :source_code_url, :class => 'form-control'
    %i.glyphicon.glyphicon-cd.form-control-feedback
  .form-group.has-feedback
    = f.label :documentation_url, :class => 'control-label'
    = f.text_field :documentation_url, :class => 'form-control'
    %i.glyphicon.glyphicon-book.form-control-feedback
  .form-group.has-feedback
    = f.label :mailing_list_url, :class => 'control-label'
    = f.text_field :mailing_list_url, :class => 'form-control'
    %i.glyphicon.glyphicon-envelope.form-control-feedback
  .form-group.has-feedback
    = f.label :donate_button, :class => 'control-label'
    = f.text_area :donate_button, :class => 'form-control', :rows => 4
    %span#help-donate-button.help-block
      = t "get_donate_button_from_paypal"
  %h2
    = t 'shared.projectsettingsbar.logo_and_main_image'
  .form-group
    = f.label :logo, :class => 'control-label'
    = f.attachinary_file_field :logo
    %span#help-main-image.help-block
      = t "shared.projectsettingsbar.square_image"
  .form-group
    = link_to 'javascript:;', 'data-toggle' => 'popover', 'data-placement' => 'top', 'data-content' => t('shared.projectsettingsbar.logo_and_main_image_help_1'), 'data-html' => 'true' do
      = icon('info-circle')
    = f.label :main_image, :class => 'control-label'
    = f.attachinary_file_field :main_image
    %span#help-main-image.help-block
      = t "shared.projectsettingsbar.landscape_image"
  %hr
  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('back'), :back, :class => "btn btn-default"
= init_counter_textarea
