-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

.row
  .col-md-10.col-sm-9.col-xs-12
    = smart_listing_controls_for :projects do
      .input-group.input-group-lg.margin-bottom-15
        .input-group-addon
          %i.fa.fa-search
        = text_field_tag("filters[title_or_description]", filter_value(:title_or_description), class: 'form-control', autocomplete: 'off', placeholder: 'Search title or description')
        .input-group-btn
          = link_to new_project_path, class: 'btn btn-success' do
            = icon('plus')
    .row
      - smart_listing.collection.each_with_index do |project, index|
        = render partial: 'projects/card', locals: { project: project }
    = smart_listing.paginate

    - if smart_listing.collection.empty? && (active_filter?(:title_or_description) || active_filter?(:category_id))
      - if filter_value(:title_or_description).present?
        = t('.sorry_no_project_found_with', result: filter_value(:title_or_description)).html_safe
      - elsif filter_value(:category_id).present?
        = t('.sorry_no_project_under_category', result: t("category.#{Category.find(filter_value(:category_id)).try(:t_name)}")).html_safe
      = "...but you might be interested in"
      %br
      %br
      .row
        - @five_random_projects.each do |project|
          = render partial: 'projects/card', locals: { project: project }

  .col-md-2.col-sm-3.hidden-xs
    %h4
      Categories
    %ul.list-unstyled
      - @categories.each do |category|
        %li{ class: filter_value(:category_id).to_i == category.id ? 'font-italic font-bold' : '' }
          = link_to t("category.#{category.t_name}"), projects_path('filters[category_id]' => category.id)

    %br
    %h4 Sort by
    %ul.list-unstyled
      %li{ class: filter_value(:most_active).present? ? 'font-italic font-bold' : '' }
        = link_to "Most active", projects_path('filters[most_active]' => true)
      %li{ class: filter_value(:most_followed).present? ? 'font-italic font-bold' : '' }
        = link_to "Most followed", projects_path('filters[most_followed]' => true)
      %li{ class: filter_value(:recent).present? ? 'font-italic font-bold' : '' }
        = link_to "Recent", projects_path('filters[recent]' => true)

