<div id="filterrific_results">

  <div class="row">
    <% @projects.each_with_index do |project, index| %>
      <% if index % 3 == 0 %>
        </div>
        <div class="row">
      <% end %>

      <div class="col-sm-4">
        <div class="panel panel-default panel-<%= project.category.color %>">
          <div class="panel-body">
            <h4><strong> <%= project.title %> </strong></h4>
            <%= markdown(truncate(project.description.lines.first, :length => 100)) %>
          </div>
          <div class="panel-footer" style="text-align: right">
            <%= link_to project_tasks_path(project) do %>
              <span class="glyphicon glyphicon-tasks dark-grey"></span>
            <% end %>
            <%= link_to project_path(project) do %>
              <span class="glyphicon glyphicon-eye-open dark-grey"></span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= paginate projects %>
