<div id="filterrific_results">

  <div class="row">
    <% @projects.each_with_index do |project, index| %>
      <% if index % 2 == 0 %>
        </div>
        <div class="row">
      <% end %>

      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-12">
                <%= link_to project_path(project), :class => "thumbnail" do %>
                  <img src="holder.js/110x110">
                <% end %>
              </div>
              <div class="col-md-8 col-sm-8">
                <%= link_to project_path(project) do %>
                  <h4><strong> <%= project.title %> </strong></h4>
                <% end %>
                <p>
                    <em>
                        <%= truncate(project.description.lines.first.tr('#', ''), :length => 100) %>
                    </em>
                </p>
              </div>
            </div>
            <div class="progress">
              <div aria-valuemax="100" "aria-valuemin"="0" "aria-valuenow"="<%= project.progress_percentage %>" class="progress-bar <%= progress_bar_color(project.progress_percentage) %>" role="progressbar" style="min-width: 2em; width: <%= project.progress_percentage %>%;">
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= paginate projects %>
