<!-- This file is part of Thinks. -->

<!-- Thinks is free software: you can redistribute it and/or modify -->
<!-- it under the terms of the GNU Affero Public License as published by -->
<!-- the Free Software Foundation, either version 3 of the License, or -->
<!-- (at your option) any later version. -->

<!-- Thinks is distributed in the hope that it will be useful, -->
<!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
<!-- GNU Affero Public License for more details. -->

<!-- You should have received a copy of the GNU Affero Public License -->
<!-- along with Thinks.  If not, see <http://www.gnu.org/licenses/>. -->

<!-- Copyright (c) 2015, Claudio Maradonna -->

<%= smart_listing_controls_for :projects do %>
  <div class="input-group" style="width: 100%;">
    <%= text_field_tag("filters[title]", filter_value(:title), class: 'form-control', autocomplete: 'off', placeholder: 'Search title') %>
    <div class="input-group-btn">
      <button class="btn btn-default">
          <i class="fa fa-search"></i>
      </button>
      <%= link_to "Start new project", new_project_path, class: 'btn btn-success btn-raised' %>
    </div>
  </div>
<% end %>

<div class="row">
  <% smart_listing.collection.each_with_index do |project, index| %>
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-heading">
            <%= link_to project_path(project) do %>
                <% if project.main_image %>
                <%= cl_image_tag(project.main_image.path, { size: '80x80', class: 'pull-left' }) %>
                <% else %>
                <img class="pull-left" "data-src"="holder.js/80x80">
                <% end %>
            <% end %>
            </div>
            <div class="panel-body">
            <%= link_to project_path(project) do %>
                <strong><%= project.title %></strong>
                <span class="help-block" style='margin-bottom: 0; margin-top: 0;'>
                    <%= plain_text(project.description.lines.first).truncate(150) %>
                </span>
            <% end %>
            </div>
        </div>
    </div>
  <% end %>
</div>

<%= smart_listing.paginate %>

  <!-- - if smart_listing.empty? -->
  <!-- %tr.text-warning.margin-bottom-15= t('sorry_no_project_found_with', result: filter_value(:title)).html_safe -->
  <!-- %tr -->
  <!-- %tr ...but you might be interested in -->
  <!-- - @five_random_projects.each do |project| -->
  <!-- %tr -->
  <!-- %td{ width: 80 } -->
  <!-- = link_to project_path(project) do -->
  <!-- - if project.main_image -->
  <!-- = cl_image_tag(project.main_image.path, { size: '80x80', class: 'pull-left' }) -->
  <!-- - else -->
  <!-- %img.pull-left{"data-src" => "holder.js/80x80"} -->
  <!-- %td{ style: 'vertical-align: top;' } -->
  <!-- = link_to project_path(project) do -->
  <!-- %strong= project.title -->
  <!-- %span.help-block{ style: 'margin-bottom: 0; margin-top: 0;' } -->
  <!-- = plain_text(project.description.lines.first).truncate(150) -->
