-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

.row
  .col-md-10.col-sm-10.col-xs-12
    = smart_listing_controls_for :projects do
      .input-group.input-group-lg.margin-bottom-15
        .input-group-addon
          %i.fa.fa-search
        = text_field_tag("filters[title]", filter_value(:title), class: 'form-control', autocomplete: 'off', placeholder: 'Search title')
    .row
      - smart_listing.collection.each_with_index do |project, index|
        .col-md-3.col-sm-4.col-xs-12
          .panel
            .panel-heading
              = link_to project_path(project) do
                - if project.main_image
                  = cl_image_tag(project.main_image.path, { width: '100%', height: '140' })
                - else
                  %div.bg-info{ style: 'height: 140px; width: 100%;' }
            .panel-body
              = link_to project_path(project) do
                %strong= project.title
                %span.help-block{ style: 'margin-bottom: 0; margin-top: 0;' }
                  = plain_text(project.description.lines.first).truncate(150)
                - if project.category.present?
                  %small
                    %i= t("category.#{project.category.t_name}")

    = smart_listing.paginate

    - if smart_listing.collection.empty?
      - if filter_value(:title).present?
        = t('.sorry_no_project_found_with', result: filter_value(:title)).html_safe
      - elsif filter_value(:category_id).present?
        = t('.sorry_no_project_under_category', result: Category.find(filter_value(:category_id)).try(:t_name)).html_safe
      = "...but you might be interested in"
      %br
      %br
      .row
        - @five_random_projects.each do |project|
          .col-md-3.col-sm-4.col-xs-12
            .panel
              .panel-heading
                = link_to project_path(project) do
                  - if project.main_image
                    = cl_image_tag(project.main_image.path, { width: '100%', height: '140' })
                  - else
                    .bg-info{ style: 'height: 140px; width: 100%;' }
              .panel-body
                = link_to project_path(project) do
                  %strong= project.title
                  %span.help-block{ style: 'margin-bottom: 0; margin-top: 0;' }
                    = plain_text(project.description.lines.first).truncate(150)

  .col-md-2.hidden-xs
    %h4
      Categories
    - @categories.each do |category|
      %div.bold
        = link_to t("category.#{category.t_name}"), projects_path('filters[category_id]' => category.id)
