-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

.panel-body
  - if thinker_signed_in?
    - if current_thinker != project.thinker
      - ban = current_thinker.ban(project)
      - if ban.present?
        .text-danger
          %strong
            Banned
        %i
          = ban.reason
      - else
        %button.btn.btn-primary.btn-block{ type: "button", "data-target": '#modal-contribution', "data-toggle": "modal" }
          = t ".your_contribution"
        #modal-contribution.modal.fade{tabindex: "-1", role:"dialog"}
          .modal-dialog{role: "document"}
            .modal-content
              = form_for contribution, url: { controller: :projects, action: :contribute, id: project.id }, html: { id: 'form-contribution' }, method: :put do |f|
                .modal-header
                  %button{type: "button", class: "close", "data-dismiss": "modal", "aria-label": t('close')}
                    %span{"aria-hidden": "true"}
                      &times;
                  %h4.modal-title
                    = t ".contribution_settings"
                .modal-body
                  .form-group
                    %label.control-label
                      = t '.contribution_text'
                    .scrollbar{ style: 'min-height: 50px; max-height: 350px;' }
                      = project.contribution_text
                  .form-group
                    %label.control-label
                      = t '.your_contribution'
                    = f.select 'intensity', options_for_select(Contribution.intensities.keys.to_a, contribution.intensity), {}, class: 'form-control', onChange: 'javascript: this.form.submit();'
                .modal-footer
                  %button.btn.btn-default{type: "button", "data-dismiss": "modal"}
                    = t 'close'
                  = f.submit t('.update_contribution'), class: 'btn btn-success'
    - else
      %h4.font-bold
        Your contribution
      - my_roles = project.assigned_roles.where(thinker: current_thinker).order('team_role_id')
      %ul
        - my_roles.each do |role|
          %li
            = t "team_roles.#{role.team_role.t_name}"
  -# .panel-footer
  -#   = link_to t('.my_stats'), project_statistic_path(project, current_thinker), class: 'btn'
- if project.visible
  .panel-body.border-top
    %h4.font-bold
      General details
    .progress
      %div{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{project.progress_percentage}", :class => "progress-bar #{progress_bar_color(project.progress_percentage)}", :role => "progressbar", :style => "min-width: 2em; width: #{project.progress_percentage}%;"}
        = project.progress_percentage
        \%
    = t('projects.list.progress')
.list-group
  .list-group-item
    founder
    %strong
      = content_tag :span, project.thinker.name, :class => "pull-right"
    - if project.donate_button.present?
      %hr
      .text-center
        = project.donate_button.html_safe
  .list-group-item
    license
    %strong
      = content_tag :span, project.license.try(:description) ? link_to(project.license.description, project.license.url) : t('not_defined_yet'), :class => "pull-right"
.panel-body
  %h4.font-bold
    Links
.list-group
  .list-group-item
    website
    = link_to project.home_url, :class => "pull-right no-padding no-border btn #{!project.home_url.present? ? 'disabled' : ''}", role: "button" do
      = icon('home', :class => "dark-grey")
  .list-group-item
    sources
    = link_to project.source_code_url, :class => "pull-right no-padding no-border btn #{!project.source_code_url.present? ? 'disabled' : ''}", role: "button" do
      = icon('github-alt', :class => "dark-grey")
  .list-group-item
    documentation
    = link_to project.documentation_url, :class => "pull-right no-padding no-border btn #{!project.documentation_url.present? ? 'disabled' : ''}", role: "button" do
      = icon('book', :class => "dark-grey")
  .list-group-item
    mailing list
    = link_to project.mailing_list_url, :class => "pull-right no-padding no-border btn #{!project.mailing_list_url.present? ? 'disabled' : ''}", role: "button" do
      = icon('envelope-o', :class => "dark-grey")
