.panel.panel-default
  .panel-body
    .progress
      %div{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{project.progress_percentage}", :class => "progress-bar #{progress_bar_color(project.progress_percentage)}", :role => "progressbar", :style => "min-width: 2em; width: #{project.progress_percentage}%;"}
        = project.progress_percentage
        \%
    = t('projects.list.progress')
  .list-group
    .list-group-item
      = badge(project.thinkers.distinct.size)
      thinkers
    .list-group-item
      = badge(project.workers.distinct.size)
      workers
    .list-group-item
      = badge(project.sprints.size)
      sprints
    .list-group-item
      = badge(project.goals.size)
      goals
    .list-group-item
      = badge(project.tasks.size)
      tasks
