-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2017, Claudio Maradonna

.container-fluid
  .row
    .col-md-2.col-lg-2.pt-3.pb-3.pl-0.pr-0.border-right
      = render :partial => 'shared/projectbar', locals: { project: @project }
    .col-md-10.col-lg-10.pt-3.pb-3
      = render :partial => "shared/breadcrumbs", locals: { project: @project }
      %ul.nav.nav-tabs
        - @releases.each_with_index do |release, index|
          %li{ role: "presentation", class: index == 0 ? "active" : "" }
            %a{ role: "tab", "aria-controls": "details", "data-toggle": "tab", href: "#tab-release-" + release.id.to_s }
              = release.title
      .panel.panel-default{ style: "border-top: 0; border-radius: 0 0 4px 4px;" }
        .tab-content.panel-body
          - @releases.each_with_index do |release, index|
            .tab-pane.fade{ role: "tabpanel", id: "tab-release-" + release.id.to_s, class: index == 0 ? 'active in' : ''}
              .row
                .col-md-4
                  .text-justify
                    = release.description
                .col-md-8
                  %table.table.table-sm
                    %tbody
                      - release.goals.each do |goal|
                        %tr
                          %td
                            = goal.title
                            %table
                              %tbody
                                - goal.tasks do |task|
                                  %tr
                                    = task.title
