-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2018, Claudio Maradonna
- content_for :page_actions do
  %li.nav-item.ml-1
    %button.btn.btn-default.active{ type:"button", "data-toggle":"button", "aria-pressed":"true", autocomplete:"off", }
      = t('projects.hide_completed_release')

- content_for :page_content do
  %p= t('projects.brief_description')
  .card-columns
    - @releases.each do |release|
      .card
        .card-body
          %h5.card-title.font-weight-bold.text-center
            = release.end_at.strftime(t('date.formats.long'))
            %br
            %small
              = release.title
              %br
              %span.font-italic
                = release.version
          = markdown(release.description)

= render partial: 'projects/layout'
