-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2018, Claudio Maradonna

- @no_padding = true
- content_for :page_content do
  .row.mr-0.ml-0
    .col-3.pl-0.pr-0
      .list-group
      - @releases.each_with_index do |release, index|
        = link_to project_release_path(@project), class: 'list-group-item list-group-item-action border-top-0 border-left-0 border-right-0 rounded-0' do
          = release.version
          = middle_dot
          = release.title
    .col-9.border-left.pt-2
      %h4
        %small.float-right.text-dark
          = @active_release.end_at.to_s(:long)
        = @active_release.title

= render partial: 'projects/layout'
