%h1.chapter-title
  = t '.projects'
  %small= t ".small_title"
.panel.panel-default
  .panel-heading
    = form_for_filterrific @filterrific, :html => { :class => 'form-horizontal' } do |f|
      .form-group
        .col-xs-12
          .input-group
            .input-group-btn
            = f.text_field :search_title, :class => 'form-control filterrific-periodically-observed'
            - if thinker_signed_in?
              .input-group-btn
                = link_to_button(new_project_path, "new", "plus")
      = render partial: 'shared/filters', :locals => { :f => f }
= render_filterrific_spinner
= render partial: 'list', locals: { projects: @projects }
