-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

- if @projects_count > @minimum_good_number_of_projects
  .row
    .col-md-8.col-sm-8
      .row
        .col-lg-3.col-md-4.col-sm-5.col-xs-12
          - if @top_category.main_image
            = cl_image_tag(@top_category.main_image.path, { size: '200x200', class: 'pull-left project-img', style: 'margin-right: 25px;' }) 
          - else
            %div.bg-info{ style: 'height: 180px;' }
        .col-lg-9.col-md-8.col-sm-7.col-xs-12
          %h3.margin-top-0
            = @top_category.title
          %p.text-justify
            = @top_category.description
    .col-md-4.col-sm-4.hidden-xs
      %ul.border-left.padding-left-10
        - @categories.each do |category|
          %li{ style: "list-style-type: none;" }
            %a{ href: "#top-category-#{ category.t_name }" }
              = t "category.#{ category.t_name }"
  %hr.margin-bottom-50.margin-top-50
  %h2
    Most popular
  .row
    - @most_popular.each do |project|
      = render partial: "projects/card", locals: { project: project }
  %hr.margin-bottom-50.margin-top-50
  %h2
    Most active
  .row
    - @most_popular.each do |project|
      = render partial: "projects/card", locals: { project: project }
- else
  .img-index
    .img-index-input.col-md-6.col-md-offset-3.col-xs-12.col-sm-8.col-sm-offset-2
      %input.input-lg.form-control{ type: 'text', placeholder: "Search for a project" }
  .text-center.heading-text
    %h4.font-bold
      The best way to work together, simply.
  %h1.text-center.margin-bottom-40.margin-top-40
    How to start
  %hr
  - @steps.each do |step|
    = render partial: "projects/step", locals: { step: step }
  .img-index.img-index-2
  %h1.text-center.margin-bottom-40.margin-top-40
    Pricing
  .row.margin-left-0.margin-right-0
    .col-md-4.col-sm-4.col-xs-12
      = render partial: 'projects/price', locals: { offer: @offers[0] }
    .col-md-4.col-sm-4.col-xs-12
      = render partial: 'projects/price', locals: { offer: @offers[1] }
    .col-md-4.col-sm-4.col-xs-12
      = render partial: 'projects/price', locals: { offer: @offers[2] }
