-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

- model_class = Project

- content_for :page_actions do
  - if @project.donate_button.present?
    %li.pull-left.visible-xs
      %div{ style: 'margin-top: 15px;' }
        = @project.donate_button.html_safe
  - if @project.subprojects.exists?
    %li.dropdown.pull-left
      %a.line-height-25.line-height-35#dropdown-subprojects{ type: :button, "data-toggle" => :dropdown, "aria-haspopup" => :true, "aria-expanded" => :false, href: "javascript:;" }
        = icon('sitemap', :class => "dark-grey fa-lg")
        %span.hidden-xs
          Subprojects
        %span.caret
      %ul.dropdown-menu.dropdown-mobile{ "aria-labelledby" => "dropdown-subprojects" }
        - @project.subprojects.each do |subproject|
          %li
            = link_to project_path(subproject) do
              - if subproject.logo
                = cl_image_tag(subproject.logo.path, { size: '20x20' }) 
              - else
                = icon('folder')
              %span=subproject.title
= render :partial => 'shared/projectbar', locals: { project: @project }
.row
  .col-md-4
    %h2.visible-xs
      = @project.title
    .panel.panel-default.hidden-xs
      = render :partial => 'projectsummary', locals: { project: @project, contribution: @contribution }
  .col-md-8
    .text-justify
      = cl_image_tag(@project.logo.path, { size: '200x200', class: 'pull-left project-img', style: 'margin-right: 25px;' }) if @project.logo
      = markdown(@project.description)
    - if creator?(@project.thinker.id)
      %hr
      %div
        - if creator?(@project.thinker.id)
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_project_path(@project), :class => 'btn btn-primary'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), project_path(@project), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
