-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

- model_class = Project

- content_for :page_actions do
  - if @project.donate_button.present?
    %li.pull-left.visible-xs
      %div{ style: 'margin-top: 15px;' }
        = @project.donate_button.html_safe
  - if @project.subprojects.exists?
    %li.dropdown.pull-left
      %a.line-height-25.line-height-35#dropdown-subprojects{ type: :button, "data-toggle" => :dropdown, "aria-haspopup" => :true, "aria-expanded" => :false, href: "javascript:;" }
        = icon('sitemap', :class => "dark-grey fa-lg")
        %span.hidden-xs
          Subprojects
        %span.caret
      %ul.scrollbar.dropdown-menu.dropdown-mobile{ "aria-labelledby" => "dropdown-subprojects", style: 'max-height: 400px;' }
        - @project.subprojects.order(:title).each do |subproject|
          %li
            = link_to project_path(subproject) do
              - if subproject.logo
                = cl_image_tag(subproject.logo.path, { size: '20x20' }) 
              - else
                = icon('folder')
              %span=subproject.title
= render :partial => 'shared/projectbar', locals: { project: @project }
%ul.nav.nav-tabs
  %li.active{ role: "presentation" }
    %a{ role: "tab", "aria-controls": "description", "data-toggle": "tab", href: "#tab-description" }
      = t ".description"
  %li{ role: "presentation" }
    %a{ role: "tab", "aria-controls": "details", "data-toggle": "tab", href: "#tab-details" }
      = t ".details"
.panel.panel-default{ style: "border-top: 0; border-radius: 0 0 4px 4px;" }
  .tab-content.panel-body
    #tab-description.tab-pane.fade.in.active{ role: "tabpanel" }
      %h3.text-center
        = @project.title
      %h4.text-center
        %i
          = @project.motto
      .text-justify
        = cl_image_tag(@project.logo.path, { size: '200x200', class: 'pull-left project-img', style: 'margin-right: 25px;' }) if @project.logo
        = markdown(@project.description)
    #tab-details.tab-pane.fade{ role: "tabpanel" }
      %h4.font-bold
        = t ".projects.list.progress"
      .progress
        %div{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{@project.progress_percentage}", :class => "progress-bar #{progress_bar_color(@project.progress_percentage)}", :role => "progressbar", :style => "min-width: 2em; width: #{@project.progress_percentage}%;"}
          = @project.progress_percentage
          \%
      = t('projects.goal_completed')
      .row.margin-top-15
        .col-md-4
          %label.control-label
            = t ".team"
          .scrollbar{ style: 'max-height: 450px;' }
            %table.table.table-condensed
              %tbody
                %tr
                  %td
                    = @project.thinker.name
                    (
                    %strong.font-italic
                      = t "founder"
                    )
                - @project.team.each do |contribution|
                  %tr
                    %td
                      = contribution.thinker.name
        .col-md-4
          %label.control-label
            = t ".current_goal"
          .scrollbar{ style: 'max-height: 450px;' }
        .col-md-4
          %label.control-label
            = t ".workload_in_time"
          .scrollbar{ style: 'max-height: 450px;' }
  - if current_thinker.present?
    .panel-footer
      - if current_thinker.present?
        %button.btn.btn-default{ type: "button", "data-target": '#modal-contribution', "data-toggle": "modal" }
          = t ".participation_preferences"
        = render partial: 'modal_contribution_preferences'
      - if creator?(@project.thinker.id)
        = link_to t('.destroy', :default => t("helpers.links.destroy")), project_path(@project), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger pull-right'
        = link_to t('.edit', :default => t("helpers.links.edit")), edit_project_path(@project), :class => 'btn btn-primary pull-right margin-right-5'
