- name = Enums::FiltersNames::DELETED_AT
%li.nav-item{ role: 'presentation' }
  = label_tag :closed, :class => "control-label nav-link" do
    = hidden_field_tag "filters[#{name}]", "0"
    = check_box_tag("filters[#{name}]", true, filter_value(name))
    = t "filters.#{name}"
