- name = :with_deleted_at
%li.nav-item{ role: 'presentation' }
  = label_tag :closed, :class => "control-label nav-link" do
    = check_box_tag('filters[#{name}]', true, filter_value(name))
    = t "filters.#{name}"
