.collapse.mb-2#collapseSearch{ class: any_filter?(params[:filters], local_filters) ? 'show' : '' }
  = smart_listing_controls_for local_model do
    .input-group
      .input-group-prepend
        = link_to url_for, class: 'btn btn-outline-secondary', title: t("filters.reset"), remote: true do
          = icon('fas', 'undo', t('filters.reset'))
      = text_field_tag "filters[#{local_text_field_name}]", filter_value(local_text_field_name), :class => 'form-control', autocomplete: 'on', placeholder: t('filters.placeholder_search_text')
      .input-group-append

        - if @active_filters.present?
          %a.hidden-xs.btn.btn-outline-secondary{ role: "button", 'data-toggle': 'collapse', 'aria-expanded': params[:filters].try(:any?) ? 'true' : 'false', 'aria-controls': 'collapseFilters', href: '#collapseFilters' }
            = icon('fas', 'filter', t('filters.filters'))
        %button.btn.btn-outline-primary{ type: 'submit' }
          = icon('fas', 'search', t('filters.start'))
    = render partial: 'shared/filters', :locals => { :filters => @active_filters }
