.collapse#collapseSearch{ class: any_filter?(params[:filters], local_filters) ? 'in' : '' }
  = smart_listing_controls_for local_model do
    .input-group.form-group
      %span.input-group-btn
        = link_to url_for, class: 'btn btn-default', title: t("filters.reset"), remote: true do
          = icon('fas', 'undo')
      = text_field_tag "filters[#{local_text_field_name}]", filter_value(local_text_field_name), :class => 'form-control', autocomplete: 'off'
      %span.input-group-btn

        - if @active_filters.present?
          %a.hidden-xs.btn.btn-default{ role: "button", 'data-toggle': 'collapse', 'aria-expanded': params[:filters].try(:any?) ? 'true' : 'false', 'aria-controls': 'collapseFilters', href: '#collapseFilters' }
            = icon('fas', 'filter')
        %button.btn.btn-primary{ type: 'submit' }
          = icon('fas', 'search', class: 'fa-inverse')
    = render partial: 'shared/filters', :locals => { :filters => @active_filters }
