%li{ :role => "presentation" }
  %a.dropdown-toggle{ "data-toggle" => "dropdown", :role => "button", "aria-haspopup" => "true", "aria-expanded" => "false" }
    = t(".thinker")
    %span.caret
  %div.dropdown-menu.panel.panel-default{ :style => "padding: 0;" }
    .panel-heading
      = text_field_tag 'filters[thinker_name]', '', class: 'form-control', placeholder: t("search"), autocomplete: 'off'
    %ul.list-group.scrollbar
      - if @project_thinkers.present?
        - @project_thinkers.each do |thinker|
          %li.list-group-item
            = link_to("filters[thinker_id]" => thinker, method: :get, remote: true) do
              = thinker.name
      - else
        - @project.contributions.each do |contribution|
          - thinker = contribution.thinker
          %li.list-group-item
            = link_to("filters[thinker_id]" => thinker, "filters[project_id]" => @project, method: :get, remote: true) do
              = thinker.name
