%li{ :role => "presentation", :class => active_filter?(:last, "filters[thinker_name]") ? 'open' : '' }
  %a.dropdown-toggle{ "data-toggle" => "dropdown", :role => "button", "aria-haspopup" => "true", "aria-expanded" => "false" }
    = t(".thinker")
    %span.caret
  %div.dropdown-menu.panel.panel-default{ :style => "padding: 0;" }
    .panel-heading
      .input-group
        = text_field_tag 'filters[thinker_name]', filter_value(:thinker_name), class: 'form-control', placeholder: t("search"), autocomplete: 'off'
        %span.input-group-btn
          %button.btn.btn-default{ type: "submit" }
            %i.fa.fa-search
    %ul.list-group.scrollbar
      - if @project_thinkers.present?
        - if active_filter?(:thinker_name)
          - @project_thinkers = @project_thinkers.where("lower(name) LIKE '%#{params[:filters][:thinker_name].downcase.strip}%'")
        - @project_thinkers.each do |thinker|
          = link_to url_for(url_for_filter(:thinker_id, thinker.slug, [:thinker_name, :last])), :class => "list-group-item #{ active_filter?(:thinker_id, thinker.slug) ? 'list-group-item-info' : '' }", :remote => true do
            = highlights_searched_text(thinker.name, filter_value(:thinker_name))
        - if @project_thinkers.empty?
          %li.list-group-item.list-group-item-danger
            %strong
              Not found
      - else
        - contributions_filter = @project.contributions.joins(:thinker)
        - if active_filter?(:thinker_name)
          - contributions_filter = contributions_filter.where("lower(thinkers.name) LIKE '%#{params[:filters][:thinker_name].downcase.strip}%'")
        - contributions_filter.each do |contribution|
          - thinker = contribution.thinker
          = link_to url_for(url_for_filter(:thinker_id, thinker.slug, [:thinker_name, :last])), :class => "list-group-item #{ active_filter?(:thinker_id, thinker.slug) ? 'list-group-item-info' : '' }", :remote => true do
            = highlights_searched_text(thinker.name, filter_value(:thinker_name))
        - if contributions_filter.empty?
          %li.list-group-item.list-group-item-danger
            %strong
              Not found
