.row
  .col-md-4.col-xs-12.col-md-offset-4.col-sm-6.col-sm-offset-3
    .panel.panel-default
      .panel-body
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          %h1= t ".log_in"
          .form-group
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, class: "form-control"
            - if devise_mapping.registerable?
              %p.help-block
                = link_to "Need an account?", new_registration_path(resource_name)
                %br/
          .form-group
            = f.label :password
            %br/
            = f.password_field :password, autocomplete: "off", class: "form-control"
            - if devise_mapping.registerable?
              %p.help-block
                = link_to "Forgot your password?", new_password_path(resource_name)
                %br/
          - if devise_mapping.rememberable?
            .checkbox
              = f.label :remember_me do
                = f.check_box :remember_me
                = t ".remember_me"
          = f.submit t(".log_in"), class: "btn btn-primary"

= parent_layout :cover
