-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

= render :partial => 'shared/projectbar', locals: { project: @project }
.row
  .col-md-4
    = render partial: 'shared/projectsettingsbar'
  .col-md-8
    .text-justify
      - if @project.project.present?
        = link_to @project.project.title, @project.project
        = cl_image_tag(@project.project.main_image.path, { size: '200x200', class: 'pull-left project-img', style: 'margin-right: 10px;' }) if @project.project.main_image
        = markdown(@project.project.description)
      - else
        %i
          %strong= t ".you_have_no_master_project_related"
    %hr
    - if @project.project.nil?
      = form_for @project, url: project_settings_father_index_path(@project), method: :post do |f|
        .form-group
          = text_field_tag "project[serial]", nil, :type => "text", :class => "form-control"
          %small#help-serial.form-text.text-muted
            = t ".help_serial"
        = f.submit t(".link_to_master_project"), :class => 'btn btn-primary'
    - else
      = link_to t('unlink'),  project_settings_father_path(@project, @project.project), :method => 'delete', :class => 'btn btn-danger', :data => {:confirm => 'Are you sure?'}
