-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

= render :partial => 'shared/projectbar', locals: { project: @project }
.row
  .col-md-4
    = render partial: 'shared/projectsettingsbar'
  .col-md-8
    .panel.panel-default
      %ul.list-group
        - if @project.skills.empty?
          %li.list-group-item
            No skills added
        - else
          - @project.skills.each do |skill|
            %li.list-group-item
              = link_to project_settings_skill_path(@project, skill), data: {:confirm => 'Are you sure?'}, :method => :delete, :class => 'pull-right' do
                = icon('remove', :class => "text-danger fa-lg")
              = t "skills.#{skill.t_name}"
    %hr
    - if @project.skills.count < 8
      = form_for @project, url: project_settings_skills_path(@project), method: :post do |f|
        .form-group
          = f.select :skill_ids, options_for_select(Skill.order('t_name').all.map{ |s| [t("skill.#{s.t_name}"), s.id] }, disabled: @project.skills.map(&:id)), class: 'form-control'
        = f.submit 'Add skill', :class => 'btn btn-primary'
    - else
      Max number of skills is 8
