-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

- content_for :page_actions do
  = render partial: 'shared/projectsettingsbar'

.container-fluid
  .row
    .col-md-2.col-lg-2.pt-3.pb-3.pl-0.pr-0.border-right
      = render :partial => 'shared/projectbar', locals: { project: @project }
    .col-md-10.col-lg-10.pt-3.pb-3
      = render :partial => "shared/breadcrumbs", locals: { project: @project }
      .panel.panel-default
        %ul.list-group
          - if @project.skills.empty?
            %li.list-group-item
              = t('.no_skills')
          - else
            - @project.skills.each do |skill|
              %li.list-group-item
                = link_to project_settings_skill_path(@project, skill), data: {:confirm => 'Are you sure?'}, :method => :delete, :class => 'float-right' do
                  = icon('fas', 'trash', :class => "text-danger fa-lg")
                = t "skill.#{skill.t_name}"
      %br
      - if @project.skills.count < 8
        = form_for @project, url: project_settings_skills_path(@project), method: :post do |f|
          .form-group
            = f.select :skill_ids, options_for_select(Skill.order('t_name').all.map{ |s| [t("skill.#{s.t_name}"), s.id] }, disabled: @project.skills.map(&:id)), {}, class: 'form-control custom-select'
          = f.submit t('add'), :class => 'btn btn-primary'
      - else
        Max number of skills is 8
