= form_for [@project, @goal] do |f|
  .panel-body
    .form-group
      = f.label :title, :class => "control-label"
      = f.text_field :title, :class => "form-control", :placeholder => "My simple title", "aria-describedby" => "help-title"
      %span#help-title.help-block= t "char_limit", chars: @chars_max_title
    .form-group
      = f.label :description, :class => "control-label"
      = f.text_area :description, :class => 'form-control', :rows => 15, :placeholder => "My beautiful and long description that help others to understand what i'm sharing.", "aria-describedby" => "help-description"
  .panel-footer
    = f.submit nil, :class => "btn btn-primary"
    = link_to t('back'), :back, :class => "btn btn-default"
