%thead
  %tr
    %td.col-lg-10.col-md-10.col-sm-9.col-xs-9
      .col-xs-12
        %h5
          %strong
            = t "goal"
%tbody
  - if (!@goals.empty?)
    - @goals.each do |goal|
      %tr
        %td
          %a.pull-right.btn{ :class => goal.tasks.empty? ? "disabled" : "", :href => goal.tasks.empty? ? "javascript:;" : project_tasks_path(goal.project), :title => pluralize(goal.tasks.count, 'task') , :role => "button" }
            %span.glyphicon.glyphicon-tasks.dark-grey{ "aria-hidden" => "true" }
          %strong
            = link_to goal.title, goal_path(goal)
          .dark-grey
            %small
              = goal.description.truncate(140)
              .progress
                .progress-bar.progress-bar-striped{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{goal.progress_percentage}", :class => "#{progress_bar_color(goal.progress_percentage)}", :role => "progressbar", :style => "min-width: 3em; width: #{goal.progress_percentage}%;"}
                  = goal.progress_percentage
                  \%
  - else
    %td.text-center
      = t('no_record')
