%thead
  %tr
    %td.col-lg-10.col-md-10.col-sm-9.col-xs-9
      .col-xs-3
        %h5
          %strong
            = t "goal"
%tbody
  - unless (@goals.empty?)
    - @goals.each do |goal|
      %tr
        %td
          %a.pull-right.btn{ :class => goal.tasks.empty? ? "disabled" : "", :href => goal.tasks.empty? ? "javascript:;" : project_tasks_path(goal.project, "filterrific[with_goal]" => goal), :title => tasks_title(goal) , :role => "button" }
            = icon('tasks', :class => "dark-grey")
          - if current_thinker == goal.project.thinker
            - tasks_ready = goal.tasks.ready_to_sprint
            %a.pull-right.btn{ :class => tasks_ready.empty? ? "disabled" : "", :href => tasks_ready.empty? ? "javascript:;" : tasks_in_sprint_goal_path(goal), :title => release_btn_title(tasks_ready) , :role => "button", "data-method" => :put }
              = icon('flag-checkered', :class => "dark-grey")
          %strong
            %small
              = goal.updated_at.to_s(:short)
            ·
            = link_to goal.title.truncate(40), goal_path(goal), :title => goal.title
          .dark-grey
            %small
              = goal.description.truncate(160)
              .progress
                .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{goal.progress}", :class => "#{progress_bar_color(goal.progress)}", :role => "progressbar", :style => "min-width: 3em; width: #{goal.progress}%;"}
                  = goal.progress
                  \%
  - else
    %td.text-center
      = t('no_record')
