= render partial: 'shared/projectbar', locals: { project: @project }
.row
  .col-md-4
    = render partial: 'shared/projectstatuspanel', locals: { project: @project }
  .col-md-8
    .panel.panel-default
      .panel-heading
        = form_for_filterrific @filterrific, :html => { :class => 'form-horizontal' } do |f|
          - if thinker_signed_in? && @project.thinker == current_thinker
            .input-group
              = f.text_field :search_title, :class => 'form-control filterrific-periodically-observed'
              .input-group-btn
                = link_to_button(new_project_goal_path, "new", "plus")
          - else
            = f.text_field :search_title, :class => 'form-control filterrific-periodically-observed'
          = render partial: 'shared/filters', :locals => { :f => f }
      .panel-body{ :style => 'padding: 0;' }
        = render_filterrific_spinner
        %table.table.table-condensed.table-hover#filterrific_results
          = render partial: 'list', locals: { goals: @goals }
    = paginate @goals, :remote => true
