-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

- content_for :page_actions do
  - if thinker_signed_in? && @project.assigned_roles.where(thinker: current_thinker).where(team_role: TeamRole.scrum_master.first).exists?
    %li.pull-left
      = link_to new_project_goal_path, :class => "line-height-25 line-height-35" do
        = icon('plus-square-o', class: 'fa-lg dark-grey')
        %span.hidden-xs
          = t('new')

= render partial: 'shared/projectbar', locals: { project: @project }
.row
  .col-md-4
    = render partial: 'shared/projectstatuspanel', locals: { project: @project }
  #div-container-list.col-md-8
    .panel.panel-default
      .panel-heading
        = smart_listing_controls_for :tasks do
          = text_field_tag 'filters[search_title]', '', :class => 'form-control filterrific-periodically-observed', autocomplete: 'off'
          = render partial: 'shared/filters', :locals => { :filters => @active_filters }
      .panel-body{ :style => 'padding: 0;' }
        = smart_listing_render :goals
