-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015,2018 Claudio Maradonna

- if @project.definition?
  - content_for :page_modals do
    = render partial: 'projects/modal_condition_definition'

- content_for :page_actions do
  %li.nav-item.ml-1.dropdown
    %a#dropdownExtraActions.text-dark.btn.dropdown-toggle{ href: '#', role: 'button', "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": 'false' }
      = icon('fas', 'bars', class: 'fa-sm')
    .dropdown-menu.dropdown-menu-right{ "aria-labelledby": "dropdownExtraActions" }
      = link_to new_project_task_path(@project, goal_id: @goal), class: 'dropdown-item small' do
        = icon('fas', 'plus', t('goals.add_task'))
      .dropdown-divider
      = link_to icon('fas', 'eraser', t('delete')), project_goal_path(@project, @goal), :method => 'delete', data: { confirm: t('are_you_sure') }, class: 'dropdown-item small'
  - if @goal.thinker == current_thinker
    %li.nav-item.ml-1
      = link_to edit_project_goal_path(@project, @goal), class: 'btn btn-primary' do
        = icon('fas', 'edit', t('edit'))

- content_for :page_content do
  = markdown(@goal.description)

- content_for :page_details do
  %ul.list-group.list-group-flush
    %li.list-group-item
      %small.font-weight-bold= t('activerecord.attributes.goal.release_id')
      %br
      - if @goal.release.present?
        = @goal.release.title
      - elsif !@goal.deleted?
        = form_for [@project,@goal] do |f|
          .form-group
            = f.select :release_id, options_from_collection_for_select(@project.releases, 'id', 'title', @goal.release_id), {include_blank: t('select')}, :class => "form-control", disabled: @project.releases.empty?, onchange: 'this.form.submit()'
          = f.submit t('save'), :class => "btn btn-primary d-none"
      - else
        = t('goals.no_release')

= render partial: 'projects/layout'
