-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

= render partial: 'shared/projectbar', locals: { project: @goal.project }
.row
  .col-md-4
    = render partial: 'shared/goalstatuspanel', locals: { goal: @goal }
  .col-md-8
    .panel.panel-default
      .panel-heading
        %h4
          %strong
            = @goal.title
      .panel-body
        = markdown(@goal.description)
      - if @goal.thinker == current_thinker
        .panel-footer
          = link_to t('edit'), edit_goal_path(@goal), :class => "btn btn-primary"
          - if @goal.tasks.ready_to_sprint.present?
            = link_to "Get tasks in sprint!", tasks_in_sprint_goal_path(@goal), :class => "btn btn-success", :method => :put
