-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015,2018 Claudio Maradonna

- content_for :page_modals do
  = render partial: 'projects/modal_condition_definition'

- content_for :page_actions do
  %li.nav-item.ml-1
    = link_to new_project_task_path(@project, goal_id: @goal), class: 'btn btn-secondary' do
      = icon('fas', 'plus', t('goals.add_task'))
  - if @goal.thinker == current_thinker
    %li.nav-item.ml-1
      = link_to edit_goal_path(@goal), class: 'btn btn-primary' do
        = icon('fas', 'edit', t('edit'))

- content_for :page_content do
  = markdown(@goal.description)

= render partial: 'projects/layout'
