-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

= form_for [@project_form, @release], url: url do |f|
  .form-group.required
    = f.label :version, :class => "control-label"
    = f.text_field :version, :class => "form-control"
  .form-group.required
    = f.label :end_at, :class => "control-label"
    = f.date_field :end_at, class: 'form-control', min: 7.days.from_now
    %small#help-end-at.form-text.text-muted
      = t "releases.form_text_end_at"
  .form-group.required
    = f.label :title, :class => "control-label"
    = f.text_field :title, :class => "form-control has-counter", :placeholder => t('releases.placeholder_title'), "aria-describedby" => "help-title"
    %small#help-title.form-text.text-muted
      = t "remaining_chars"
      %span.counter{ 'data-maximum-length' => @chars_max_title }
        = @chars_max_title - f.object.title.try('length').to_i
  .form-group.required
    = render partial: 'shared/markdown_syntax'
    = f.label :description, :class => "control-label"
    = f.text_area :description, :class => 'form-control', :rows => 15, :placeholder => t('releases.placeholder_description'), "aria-describedby" => "help-description"
    %small#help-description.form-text.text-muted= t "char_in", chars_min: @chars_min_description, chars_max: @chars_max_description
  = f.submit @release.new_record? ? t('add') : t('edit'), :class => "btn btn-primary"
  = link_to t('back'), :back, :class => "btn btn-default"
