-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

.collapse#collapseSearch{ class: any_filter?(params[:filters]) ? 'in' : '' }
  = smart_listing_controls_for :releases do
    .input-group.form-group
      %span.input-group-btn
        = link_to url_for, class: 'btn btn-default', title: t("reset_filters"), remote: true do
          = icon('fas', 'undo', class: 'dark-grey')
      = text_field_tag 'filters[search_title_and_description]', filter_value(:search_title_and_description), :class => 'form-control', autocomplete: 'off'
      %span.input-group-btn
        - if @active_filters.present?
          %a.hidden-xs.btn.btn-default{ role: "button", 'data-toggle': 'collapse', 'aria-expanded': any_filter?(params[:filters]) ? 'true' : 'false', 'aria-controls': 'collapseFilters', href: '#collapseFilters' }
            = icon('fas', 'filter', class: 'dark-grey')
        %button.btn.btn-primary{ type: 'submit' }
          = icon('fas', 'search', class: 'fa-inverse')
    = render partial: 'shared/filters', :locals => { :filters => @active_filters }
.panel-default.margin-top-5
  %table.table.table-condensed.table-hover#filterrific_results
    %thead
      %tr
        %td
          .col-xs-11
            %h5
              %strong
                = t "release"
    %tbody
      - unless smart_listing.empty?
        - smart_listing.collection.each do |release|
          %tr
            %td
              %a.pull-right.btn.hidden-xs{ :class => release.tasks.empty? ? "disabled" : "", :href => release.tasks.empty? ? "javascript:;" : project_tasks_path(release.project, "filterrific[with_release]" => release), :title => tasks_title(release) , :role => "button" }
                = icon('fas', 'tasks', :class => "dark-grey")
              %strong.hidden-xs.hidden-sm
                %small.dark-grey
                  - remaining_days = (DateTime.now.to_date - release.end_at).to_i
                  - if (remaining_days > 0)
                    %span.text-danger
                      +
                      = remaining_days
                  - else
                    = remaining_days
                  ·
                  = release.end_at.to_s(:short)
                  ·
                = link_to release.title.truncate(40), release_path(release), :title => release.title
                \- v#{release.version}
              %strong.visible-xs
                = link_to release.title.truncate(50), release_path(release), :title => release.title
              %strong.visible-sm
                = link_to release.title, release_path(release)
              .dark-grey
                %small
                  %em
                    = highlights_searched_text(plain_text(release.description).truncate(150), @search)
                  .progress
                    .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{release.progress}", :class => "#{progress_bar_color(release.progress)}", :role => "progressbar", :style => "min-width: 3em; width: #{release.progress}%;"}
                      = release.progress
                      \%
      - else
        %tr.warning
          %td.text-center{ colspan: 3 }
            %strong
              No records found
  = smart_listing.paginate
  = smart_listing.pagination_per_page_links
