-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015,2018 Claudio Maradonna

= render partial: 'shared/filters/layout', locals: { local_filters: [], local_model: :goals, local_text_field_name: 'search_title_and_description' }

%table.table.table-sm#filterrific_results
  %thead
    %tr
      %td
        %strong= t('releases.table.header')
      %td{ width: 40 }
  %tbody
    - unless smart_listing.empty?
      - smart_listing.collection.each do |release|
        %tr
          %td
            %strong.d-none.d-md-block
              %small.float-right.text-dark
                - remaining_days = (DateTime.now.to_date - release.end_at).to_i
                - if (remaining_days > 0)
                  %span.text-danger
                    +
                    = remaining_days
                - else
                  = remaining_days
                = middle_dot
                = release.end_at.to_s(:short)
              = release.version
              = middle_dot
              = link_to release.title, project_release_path(release.project, release)
            %strong.d-sm-none
              = link_to release.title.truncate(50), project_release_path(release.project, release), :title => release.title
            %strong.d-none.d-sm-block.d-md-none
              = link_to release.title, project_release_path(release.project, release)
            .text-dark
              %small
                %em
                  = highlights_searched_text(plain_text(release.description).truncate(150), @search)
                .progress{ style: 'height: 1.5rem;' }
                  .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{release.progress}", :class => "#{progress_bar_color(release.progress)}", :role => "progressbar", :style => "min-width: 3em; width: #{release.progress}%;"}
                    = release.progress
                    \%
          %td.border-left.align-middle.dropleft
            %a.btn.dropdown-toggle{ href: '#', role: 'button', "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": 'false', id: "dropdownMenuEdit#{ release.id }" }
              = icon('fas', 'bars', class: 'fa-sm')
            .dropdown-menu.dropdown-menu-left{ "aria-labelledby": "dropdownMenuEdit#{ release.id }" }
              = link_to icon('far', 'eye', t('show')), project_release_path(release.project, release), class: 'dropdown-item small'
              = link_to icon('fas', 'edit', t('edit')), edit_project_release_path(release.project, release), class: 'dropdown-item small'
              = link_to icon('fas', 'tasks', t('releases.table.open_tasks')), release.tasks.empty? ? "javascript:;" : project_tasks_path(release.project, "filterrific[with_release]" => release), class: "dropdown-item small #{ release.tasks.empty? ? 'disabled' : '' }", title: tasks_title(release)
              .dropdown-divider
              = link_to icon('fas', 'eraser', t('delete')), project_release_path(release.project, release), :method => 'delete', data: { confirm: t('are_you_sure') }, class: 'dropdown-item small'
    - else
      %tr.warning
        %td.text-center{ colspan: 3 }
          %strong
            No records found
= smart_listing.paginate
= smart_listing.pagination_per_page_links
