-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

%thead
  %tr
    %td
      .col-xs-11
        %h5
          %strong
            = t "release"
%tbody
  - unless (releases.empty?)
    - releases.each do |release|
      %tr
        %td
          %a.pull-right.btn.hidden-xs{ :class => release.tasks.empty? ? "disabled" : "", :href => release.tasks.empty? ? "javascript:;" : project_tasks_path(release.project, "filterrific[with_release]" => release), :title => tasks_title(release) , :role => "button" }
            = icon('tasks', :class => "dark-grey")
          %strong.hidden-xs.hidden-sm
            %small.dark-grey
              = release.end_at.to_s(:short)
              ·
            = link_to release.title.truncate(40), release_path(release), :title => release.title
          %strong.visible-xs
            = link_to release.title.truncate(50), release_path(release), :title => release.title
          %strong.visible-sm
            = link_to release.title, release_path(release)
          .dark-grey
            %small
              %em
                = plain_text(release.description).truncate(150)
              .progress
                .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{release.progress}", :class => "#{progress_bar_color(release.progress)}", :role => "progressbar", :style => "min-width: 3em; width: #{release.progress}%;"}
                  = release.progress
                  \%
  - else
    %td.text-center{ :colspan => 1 }
      = t('no_record')
