-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

= render partial: 'shared/projectbar', locals: { project: @project }
.row
  .col-md-4
    = render partial: 'shared/projectstatuspanel', locals: { project: @project }
  #div-container-list.col-md-8
    .panel.panel-default
      .panel-heading
        = form_for_filterrific @filterrific, :html => { :class => 'form-horizontal' } do |f|
          - if thinker_signed_in? && @project.assigned_roles.where(thinker: current_thinker).where(team_role: TeamRole.scrum_master.first).exists?
            .input-group
              = f.text_field :search_title, :class => 'form-control filterrific-periodically-observed'
              .input-group-btn
                = link_to_button(new_project_release_path, "new", "plus")
          - else
            = f.text_field :search_title, :class => 'form-control filterrific-periodically-observed'
          = render partial: 'shared/filters', :locals => { :f => f }
      .panel-body{ :style => 'padding: 0;' }
        = render_filterrific_spinner
        %table.table.table-condensed.table-hover#filterrific_results
          = render partial: 'list', locals: { releases: @releases }
    = paginate @releases, :remote => true
