-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

= render partial: 'shared/projectbar', locals: { project: @release.project }
.row
  .col-sm-4
    = render partial: 'shared/releasestatuspanel', locals: { release: @release }
  #div-container-list.col-sm-8
    .panel.panel-default
      .panel-heading
        %h4
          %strong
            = @release.title
      .panel-body
        = markdown(@release.description)
      - if scrum_master?(@release.project)
        .panel-footer
          = link_to t('edit'), edit_release_path(@release), :class => "btn btn-primary"
          = link_to t('delete'), release_path(@release), :method => 'delete', :class => "btn btn-danger pull-right", :role => 'button'
