-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015,2018 Claudio Maradonna

- content_for :page_actions do
  - if @scrum_master
    %li.nav-item.ml-1
      = link_to project_release_path(@release.project, @release), :method => 'delete', :class => "btn btn-danger", :role => 'button' do
        = icon('fas', 'eraser', t('delete'))
    %li.nav-item.ml-1
      = link_to edit_project_release_path(@release.project, @release), :class => "btn btn-primary" do
        = icon('fas', 'edit', t('edit'))

- content_for :page_content do
  = markdown(@release.description)

- content_for :page_details do
  %ul.list-group.list-group-flush
    %li.list-group-item
      %small.font-weight-bold= t('releases.goals', count: @release.goals.count)
    - unless @release.goals.count.zero?
      - @release.goals.each do |goal|
        = link_to project_goal_path(@project, goal), class: 'list-group-item list-group-item-action' do
          .text-primary
            = goal.title
          = plain_text(goal.description).truncate(150)
    - else
      %li.list-group-item
        = t('releases.no_goals')

    %li.list-group-item
      %small.font-weight-bold= t('releases.tasks', count: @release.tasks.count)
      %br
    - unless @release.tasks.count.zero?
      - @release.tasks.each do |task|
        = link_to project_task_path(@project, task), class: 'list-group-item list-group-item-action' do
          .text-primary
            = task.title
          = plain_text(task.description).truncate(150)
    - else
      %li.list-group-item
        = t('releases.no_tasks')

= render partial: 'projects/layout'
