-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

- content_for :page_actions do
  - if scrum_master?(@release.project)
    %li.pull-left
      = link_to edit_release_path(@release), :class => "line-height-25 line-height-35" do
        = icon('fas', 'edit', class: 'fa-lg dark-grey')
        %span.hidden-xs
          = t('edit')

    %li.pull-left
      = link_to release_path(@release), :method => 'delete', :class => "line-height-25 line-height-35", :role => 'button' do
        = icon('fas', 'trash-o', class: 'fa-lg dark-grey')
        %span.hidden-xs
          = t('delete')

= render partial: 'shared/projectbar', locals: { project: @release.project }
.row
  .col-sm-4
    = render partial: 'shared/releasestatuspanel', locals: { release: @release }
  #div-container-list.col-sm-8
    %h2
      Description
    = markdown(@release.description)
