= form_for @thinker do |f|
  .panel-body
    %h4=t '.identity'
    .form-group
      = cl_image_tag(@thinker.avatar.path, alt: t('.photo'), size: '50x50', crop: :thumb, gravity: :face) if @thinker.avatar?
      = f.attachinary_file_field :avatar
    .form-group
      = f.label :name, :class => "control-label"
      = f.text_field :name, :class => "form-control", :placeholder => 'Your real name', :value => @thinker.name
    .form-group
      = f.label :sex, :class => "control-label"
      - Sex.all.each do |sex|
        .radio
          = f.label :sex_id, :class => "control-label" do
            = f.radio_button :sex_id, sex.id, :checked => @thinker.sex == sex ? true : false
            = t "sex.#{sex.t_name}"
    .form-group
      = f.label :born_at, :class => "control-label"
      = f.text_field :born_at, :class => 'form-control', "data-provide" => 'datepicker', :placeholder => "yyyy-mm-dd", "data-date-format" => "yyyy-mm-dd", "data-date-start-date" => (Date.today - 100.years)
    .form-group
      = f.label :country_iso, :class => "control-label"
      = f.select :country_iso, options_from_collection_for_select(Country.all.order('printable_name'), 'iso', 'printable_name', @thinker.country.try(:iso)), { include_blank: t('not_defined_yet') },{ class: 'form-control' }
    %h4=t '.profile'
    .form-group
      = f.label :email, :class => "control-label"
      = f.text_field :email, :class => "form-control", :placeholder => 'Your real name', :value => @thinker.email
  .panel-footer
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), |
      thinker_path(@thinker), :class => 'btn btn-default'                   |
