= form_for @thinker, :html => { :class => '' } do |f|
  .panel-body
    %h4=t '.identity'
    .form-group
      = f.label :name, :class => "control-label"
      = f.text_field :name, :class => "form-control", :placeholder => 'Your real name', :value => @thinker.name
    .form-group
      = f.label :sex, :class => "control-label"
      - Sex.all.each do |sex|
        .radio
          = f.label :sex_id, :class => "control-label" do
            = f.radio_button :sex_id, sex.id, :checked => @thinker.sex == sex ? true : false
            = t "sex.#{sex.t_name}"
    .form-group
      = f.label :born_at, :class => "control-label"
      = f.text_field :born_at, :class => 'form-control', "data-provide" => 'datepicker', :placeholder => "yyyy-mm-dd", "data-date-format" => "yyyy-mm-dd"
    %h4=t '.profile'
    .form-group
      = f.label :email, :class => "control-label"
      = f.text_field :email, :class => "form-control", :placeholder => 'Your real name', :value => @thinker.email
  .panel-footer
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), |
      thinker_path(@thinker), :class => 'btn btn-default'                   |
