-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2017, Claudio Maradonna

.row
  .col-md-12
    = smart_listing_controls_for :thinkers do
      .input-group.input-group-lg.margin-bottom-15
        .input-group-addon
          %i.fa.fa-search
        = text_field_tag("filters[title_or_description]", filter_value(:title_or_description), class: 'form-control', autocomplete: 'off', placeholder: 'Search title or description')
    .form-group
      .list-group
        - smart_listing.collection.each_with_index do |thinker, index|
          .list-group-item{ style: 'height: 122px;' }
            .float-left.margin-right-10
              - if thinker.avatar?
                = cl_image_tag(thinker.avatar.path, alt: t('.photo'), size: '100x100', crop: :thumb, gravity: :face)
              - else
                .square.bg-gray.text-center{ style: 'width: 100px; height: 100px;' }
                  %i.fa.fa-question.fa-3x.fa-inverse{ style: 'margin-top: 28px;' }
            %strong
              = thinker.name
            .font-italic
              - if thinker.bio
                = thinker.bio
              - else
                = t '.bio_not_specified'
    = smart_listing.paginate
