-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

- content_for :page_actions do
  - if (@thinker == current_thinker)
    %li.pull-left
      = link_to edit_thinker_path(@thinker), title: 'Edit', class: 'line-height-25 line-height-35' do
        = icon('fas', 'edit', class: 'dark-grey fa-lg')
        %span.hidden-xs
          Edit

= render partial: 'shared/profileheader', locals: { thinker: @thinker }
.row
  .col-md-4
    = render partial: 'shared/profilebar', locals: { thinker: @thinker }
  .col-md-8
    .form-group
      .col-md-4
        - if @thinker.avatar?
          = cl_image_tag(@thinker.avatar.path, alt: t('.photo'), size: '200x200', crop: :thumb, gravity: :face)
        - else
          = image_tag @thinker.gravatar_url
      .col-md-8
        .row
          %label.control-label
            = @thinker.name
        - unless @thinker.sex.nil?
          .row
            = t("sex.#{@thinker.sex.t_name}")
        - unless @thinker.born_at.nil?
          .row
            = @thinker.born_at.to_s(:long)
        - unless @thinker.country.nil?
          .row
            = @thinker.country.printable_name
        .row
          = @thinker.email
        .row
          %i
            = (t '.created_at') + ':'
          = @thinker.created_at.to_s(:long)
