-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

%ul.nav.nav-tabs{ :role => 'tablist'}
  %li.text-center{ :role => 'presentation', :style => 'width: 33.33%'}
    %a{ :href => '#working_tasks', 'aria-controls' => 'working_tasks', :role => 'tab', 'data-toggle' => 'tab'}
      = icon('tasks', :class => 'fa-lg')
  %li.active.text-center{:role => 'presentation', :style => 'width: 33.33%'}
    %a{ :href => '#following_projects', 'aria-controls'=>'following_projects', 'role'=>'tab', 'data-toggle'=>'tab'}
      = icon('star', :class => 'fa-lg')
  %li.text-center{:role => 'presentation', :style => 'width: 33.33%'}
    %a{:href =>'#my_projects', 'aria-controls'=>'my_projects', :role =>'tab', 'data-toggle'=>"tab"}
      = icon('globe', :class => 'fa-lg')
.tab-content
  #working_tasks.tab-pane{ :role => 'tabpanel' }
    %h3
      Working tasks
    %ul.nav.nav-sidebar
      - @thinker_tasks.each do |task|
        %li{ :class => current_page?(task_path(task)) ? "active" : '' }
          = link_to("<strong>##{task.serial}</strong> #{task.title}".html_safe, task_path(task), :title => task.title, :class => "clip-text")
  #following_projects.active.tab-pane{ :role => 'tabpanel' }
    %h3
      Following projects
    %ul.nav.nav-sidebar
      - @thinker_follow_projects.each do |contribution|
        %li{ :class => session[:project_id] === contribution.project.id ? "active" : '' }
          = link_to(contribution.project.title, project_path(contribution.project), :title => contribution.project.title, :class => "clip-text")
  #my_projects.tab-pane{ :role => 'tabpanel'}
    %h3
      My projects
    %ul.nav.nav-sidebar
      - @thinker_projects.each do |project|
        %li{ :class => session[:project_id] === project.id ? "active" : '' }
          = link_to(project.title, project_path(project), :title => project.title, :class => "clip-text")
