- content_for :body do
  = render 'shared/navbar'
  .carousel.slide#carousel{"data-ride" => "carousel"}
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#carousel"}
      %li{"data-slide-to" => "1", "data-target" => "#carousel"}
      %li{"data-slide-to" => "2", "data-target" => "#carousel"}
    .carousel-inner{:role => "listbox"}
      .item.active
        // https://www.flickr.com/photos/chrischabot/8574770893/
        // Brucia per scurire molto le luci
        .first-slide
        .container
          .carousel-caption
            %h1
              =t ".community_handled"
            %p
              =t ".community_text"
            %p
              =link_to_if(current_thinker.nil? ,t(".sign_up_today"), new_thinker_registration_path, :class => "btn btn-lg btn-primary", :role => "button") do
                =link_to(t("shared.navbar.projects"), projects_path, :class => "btn btn-lg btn-primary", :role => "button")
      .item
        // https://commons.wikimedia.org/wiki/File:ST_vs_Gloucester_-_Match_-_23.JPG
        // Brucia diverse volte per scurire il rosso troppo acceso
        .second-slide
        .container
          .carousel-caption
            %h1 
              =t ".scrum_based"
            %p 
              =t ".scrum_text"
            %p
              =link_to(t(".learn_more"),  how_does_it_works_path, :class => "btn btn-lg btn-primary", :role => "button")
      .item
        // https://www.flickr.com/photos/megantrace/7125366795/in/photolist-bRDniD-ug3br-5gBQyo-7Sz7nr-mj7di2-5vTqnK-bz29nH-oih2Mt-71ZMnt-8sQvn3-a13tem-7EAY63-6FADUs-kouG2g-7cXkxw-88EEon-pA5Gdk-yXKoU-686uvZ-piSxzz-5E1X1j-HwpLY-n9SMt5-4HJx7M-wWcrU-wWcfd-o9wCui-2T6K14-kSWyCQ-xEzGvn-a9GfJu-6gG1Uf-8MSVyp-xKAxyc-72PWFQ-7pPKxE-78y5gh-8H4CYm-4fgaGY-i6ycVY-dv2kHu-7gUnxA-bR5eq-89xksJ-6hVTTR-97Kfzp-981nQ5-b6iQb2-rbKTgr-5RgyZr
        // Bilanciamento colore, brucia per scurire un po'
        .third-slide
        .container
          .carousel-caption
            %h1 
              =t ".fair_donations"
            %p
              =t ".fair_text"
            %p
              %a.btn.btn-lg.btn-primary{:href => "#", :role => "button"} 
                =t ".thinks_a_project"
    %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel", :role => "button"}
      %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
      %span.sr-only
        =t "previous"
    %a.right.carousel-control{"data-slide" => "next", :href => "#carousel", :role => "button"}
      %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
      %span.sr-only
        =t "next"
  .container.marketing
    .row
      .col-lg-4
        // https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Globe_icon.svg/1000px-Globe_icon.svg.png
        // Opacita 70%
        = image_tag("globe", :class => "img-circle", :alt => "Globe image", :height => 140, :width => 140)
        %h2
          =t ".community"
        %p
          =t ".community_heading_text"
      .col-lg-4
        // https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Refresh_icon_by_Blaise_Sewell.svg/1024px-Refresh_icon_by_Blaise_Sewell.svg.png
        // Opacita 70%
        = image_tag("repeat", :class => "img-circle", :alt => "Repeat image", :height => 140, :width => 140)
        %h2
          =t ".scrum"
        %p
          =t ".scrum_heading_text"
      .col-lg-4
        // https://pixabay.com/p-43994/?no_redirect
        // Opacita 70%
        = image_tag("money", :class => "img-circle", :alt => "Money image", :height => 140, :width => 140)
        %h2 
          =t ".donations"
        %p
          =t ".donations_heading_text"
    %hr#first.featurette-divider
    .row.featurette
      .col-md-7
        %h2.featurette-heading
          =t ".first_title"
          %span.text-muted
            =t ".first_title_span"
        %p.lead
          =t ".first_title_text"
      .col-md-5
        // https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Share_font_awesome.svg/2000px-Share_font_awesome.svg.png
        // Opacita 40%, colore rosso
        = image_tag("share", :class => "featurette-image img-responsive center-block", :alt => "Sharing image")
    %hr.featurette-divider
    .row.featurette
      .col-md-7.col-md-push-5
        %h2.featurette-heading
          =t ".second_title"
          %span.text-muted 
            =t ".second_title_span"
        %p.lead
          =t ".second_title_text"
      .col-md-5.col-md-pull-7
        // https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Team_icon_-_noun_project_20586.svg/2000px-Team_icon_-_noun_project_20586.svg.png
        // Opacita 40%, colore arancio
        = image_tag("team", :class => "featurette-image img-responsive center-block", :alt => "Team image")
    %hr.featurette-divider
    .row.featurette
      .col-md-7
        %h2.featurette-heading
          =t ".third_title"
          %span.text-muted 
            =t ".third_title_span"
        %p.lead
          =t ".third_title_text"
      .col-md-5
        // https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Ok_font_awesome.svg/2000px-Ok_font_awesome.svg.png
        // Opacita 40%, colore verde
        = image_tag("ok", :class => "featurette-image img-responsive center-block", :alt => "Ok image")
    %hr.featurette-divider
    %footer
      %p.pull-right
        %a{:href => "#"} Back to top
      %p
        ©
        = DateTime.now.year
        Free Software Team ·
        %a{:href => "#"} Privacy
        ·
        %a{:href => "#"} Terms
