-# This file is part of Thinks.

-# Thinks is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.

-# Thinks is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero Public License for more details.

-# You should have received a copy of the GNU Affero Public License
-# along with Thinks.  If not, see <http://www.gnu.org/licenses/>.

-# Copyright (c) 2015, Claudio Maradonna

= render partial: 'shared/projectbar', locals: { project: @task.project }
.row
  .col-sm-4
    = render partial: 'shared/taskstatuspanel', locals: { task: @task, workload_voted: @workload_voted }
  .col-sm-8
    = render partial: 'shared/taskbody', locals: { task: @task }
    .panel.panel-default
      .panel-heading
        %strong
          Operations
      %ul.list-group
        - if @operations.empty?
          = content_tag(:li, t("no_operations"), :class => "list-group-item")
        - first = false
        - @operations.each_with_index do |operation, index|
          = content_tag(:li, :class => "list-group-item #{operation.done ? 'list-group-item-success' : ''}") do
            - if (!operation.done && !first)
              - first = true
              - if current_thinker == @task.worker
                = destroy_button(operation)
                = done_button(operation)
            %strong
              = operation.serial.to_s + ': '
            = operation.text
      - if current_thinker == @task.worker
        .panel-footer
          = form_for [@task, Operation.new] do |f|
            .input-group
              = f.text_field :text, :class => 'form-control'
              .input-group-btn
                = f.submit t(".add"), :class => "btn btn-primary"
